[2016-05-26 15:37] schalkneethling opened #1 "Flow questions for sidebars"
@chrismore Couple of questions about the flow here:

**Scenario**
User installs and opens Fx, the user answers the questions and either completes the FxA form or simply navigates away from /firstrun.

Do we store the time it was shown as the start time for our first 24 hour interval or, do we wait until the user closes the sidebar, and only then store the start time for the interval?

After 24 hou

[2016-05-26 15:50] chrismore commented on #1
I would say we should start the timer as soon as the bar first opens after the questions. If the bar is never closed and they keep it open, will the user see the content change at 24 hours later without even clicking anything?

As for future sidebars and intervals, there are two options:

1) the timer starts for counting the next interval *only* if they have opened the sidebar or clicked the notif

[2016-05-26 15:53] chrismore commented on #1
Let's just append what step they are on and that is simply what content is being presented to them now. It doesn't matter if they never open it or never clicked anything. Just what step they are at. Trying not to get too close to behaviors and just the general flow.

[2016-05-26 16:00] schalkneethling commented on #1
Yes, it should simply update. Will have to test this but, that is how the API is supposed to work.

I agree, let's go with option 1 for future sidebars. With that said, a badge is only given if the CTA has actually been clicked correct?

[2016-05-26 16:10] chrismore commented on #1
Option 1 it is!

We are going to make it even easier. The badge will just be there by simply opening up the sidebar. The badges just become more of a progress bar. The reward is simply just opening up the bar. The badges can just be there in the sidebar already as the template for that content number (1-5). No badge is given for the import data sidebar and all 5 badges are blank on the first impor

[2016-05-26 16:44] schalkneethling commented on #1
Ok, so we are decided on the following:

The timer starts counting the next interval once the user have opened the sidebar from either the add-on icon or notification. This will prevent a user from skipping ahead in onboarding if they don't interact with a sidebar. Also, if they don't interact with a sidebar, we won't keep pinging them 5 times for future content. This will also keep them from gett

[2016-05-26 19:33] fabiorios commented on #1
Nice, that's what I understood.

[2016-05-26 20:52] chrismore commented on #1
Makes sense to me and how I think makes most sense for the UX.

[2016-05-27 18:26] floatingatoll opened #2 "LICENSE, eventually."
There's no code yet, but when there is, please ensure a LICENSE file comes along with it. (Filing since this is a public repo w/o a LICENSE, but no urgency or anything.)

[2016-05-31 12:52] schalkneethling commented on #1
@chrismore Have we decided to show the token/badge after the user has taken action or, is it still as defined in comment #5 above?

[2016-05-31 15:10] fabiorios commented on #1
@schalkneethling Same as comment #5. Just open the panel, no other action needed to get a badge.

[2016-06-02 23:12] FrancescoSTL commented on #2
Fixed in https://github.com/mozilla/all-aboard/blob/master/LICENSE. Thanks, @floatingatoll, @schalkneethling!

[2016-06-02 23:12] #2 closed

[2016-06-02 23:13] FrancescoSTL opened #8 "Method for adding tokens"
The current method for adding tokens doesn't seem to be working. This may be an issue with the way my `testSidebar()` function works, but I couldn't identify the source of the issue. It seems that the port.on is only being received every few times I run `jpm run`. Thoughts @schalkneethling ?

[2016-06-02 23:16] FrancescoSTL opened #9 "Add Theme Preview for Utility Content 3 Sidebar"
As per my discussion with Matt T., we would like the buttons on the sidebar for utility path content 3 (customization) shown below:
<img width="1290" alt="utility - content 3 - after default" src="https://cloud.githubusercontent.com/assets/9794516/15764105/4146be44-28dd-11e6-810f-196c9039e78e.png">

to reflect the AMO style cards:
<img width="742" alt="screen shot 2016-06-02 at 4 16 24 pm" src="ht

[2016-06-03 13:11] schalkneethling opened #10 "Trigger theme previews on click"
Hey @FrancescoSTL,

I was looking over the code to preview the various themes, and I am wondering, any specific need we are doing this on hover as apposed to on click?

There is a couple of benefits to using click as apposed to hover as well:

1. The code at the moment feels way more complex that it needs to be. There is some tweaking we can do to improve this but, switching to click will just rem

[2016-06-03 13:17] schalkneethling opened #11 "Radio buttons over A/B/C text labels"
Hey @chrismore,

I have followed some of the discussion regarding the switch from radio buttons to A/B/C text labels, and it seems that there is a consensus to switch back to radio buttons. Is my understanding correct here?

If so, then I have a follow on question. Seeing that a user will now be able to select an answer, I guess we want to amend the interaction a bit. So currently, when the user c

[2016-06-03 13:25] schalkneethling opened #12 "Get Firefox on your phone"
@chrismore

For the "Get Firefox on your phone" button, I assume we will be sending users to https://www.mozilla.org/firefox/mobile-download/ in a new tab?

[2016-06-03 15:20] schalkneethling opened #14 "Sidebar - Utility 1 - Free to choose"
Sidebar 1 for utility track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User clicks the Try It button
The search box is triggered showing the search providers and search settings panel

[2016-06-03 15:21] chrismore commented on #12
@schalkneethling it should be the two mobile app store buttons stacked vertically using buttons from here:

https://www.mozilla.org/en-US/firefox/new/?scene=2

Here are custom URLs for them:

Google Play store url:

https://play.google.com/store/apps/details?id=org.mozilla.firefox&referrer=utm_source=firefox-browser&utm_medium=Referral&utm_campaign=onboarding-addon

Apple App store url:

https://i

[2016-06-03 15:56] FrancescoSTL commented on #10
When speaking with @chrismore, the idea behind hover was to mimic the functionality on https://addons.mozilla.org/en-US/firefox/themes/. I agree that the code seems fairly complex. This was a result of issues regarding fast mouse movement and the mouseleave function not being triggered. It is a fairly documented issue online, so it doesn't seem to be isolated with this project.

If we want to adop

[2016-06-03 16:59] FrancescoSTL opened #15 "Sidebar - Utility 2 - Free Range"
Sidebar 2 for utility track

## Flow
User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User clicks the Try It button
The menu is triggered, highlighting the private browsing icon

[2016-06-03 17:01] FrancescoSTL opened #16 "Sidebar - Utility 3 - Free to Play"
Sidebar 3 for utility track

## Flow
User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
The user clicks a "Try it Now" button for one of three themes
The selected theme is applied to the user's browser

[2016-06-03 17:03] FrancescoSTL opened #17 "Sidebar - Utility 4 - Free to Find"
Sidebar 4 for utility track

## Flow
User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User clicks the Try It Now button
The awesome-bar is highlighted

[2016-06-03 17:07] FrancescoSTL opened #18 "Sidebar - Utility 5 - Free to Roam"
Sidebar 5 for utility track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User clicks the "Get Firefox on your phone" for either Android or iOS
The user should be shown either the app store or playstore link in a new tab as specified in https://github.com/mozilla/all-aboard/issues/12#issuecomment-223608949

[2016-06-03 17:12] FrancescoSTL opened #19 "Sidebar - Values 1 - Who stands behind Firefox?"
Sidebar 1 for values track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User selects a radio button option from the multiple choice question
User selects "Tell me"
The correct answer is revealed

[2016-06-03 17:15] FrancescoSTL opened #20 "Sidebar - Values 2 - What gets Mozilla out of bed in the morning?"
Sidebar 2 for values track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User selects a radio button option from the multiple choice question
User selects "Tell me"
The correct answer is revealed

[2016-06-03 17:15] FrancescoSTL opened #21 "Sidebar - Values 3 - Why does Mozilla care about Internet privacy?"
Sidebar 3 for values track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User selects a radio button option from the multiple choice question
User selects "Tell me"
The correct answer is revealed

[2016-06-03 17:16] FrancescoSTL opened #22 "Sidebar - Values 4 - You’d love to learn about staying secure online, but..."
Sidebar 4 for values track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User selects a radio button option from the multiple choice question
User selects "Tell me"
The correct answer is revealed

[2016-06-03 17:17] FrancescoSTL opened #23 "Sidebar - Values 5 - 10,000+ is.."
Sidebar 5 for values track

## Flow

User clicks on add-on icon
Side bar is opened containing content
User receives the relevant token
User selects a radio button option from the multiple choice question
User selects "Tell me"
The correct answer is revealed

[2016-06-03 17:21] FrancescoSTL commented on #8
Seems to have been a problem with new sessions being created when running `jpm run`. When testing, we will manually need to set `simpleStorage.tokens` to reflect which sidebar and number of tokens we are expecting to see. Closing for now.

[2016-06-03 17:21] #8 closed

[2016-06-03 17:31] chrismore commented on #10
We were trying to mimic the theme preview from AMO. Yes, it is more complex than click.

[2016-06-03 17:33] chrismore commented on #10
Maybe the hover isn't worth it.... hmm

[2016-06-03 17:50] chrismore commented on #10
The preview may not be apparent to users and they may click as fast as they would potentially hover and not click.

[2016-06-03 18:06] chrismore commented on #10
@FrancescoSTL @schalkneethling let's just eliminate the mouse over and just do a onClick apply of the theme. AMO doesn't have a "reset to default" link, which is why they probably did the mouse over so a mouse over for us doesn't seem to provide much benefit. Without the benefit, we are just making the code more complex.

[2016-06-03 18:24] FrancescoSTL commented on #14
Submitted backend functionality for opening search and switch case statement to catch when to trigger it in https://github.com/mozilla/all-aboard/pull/24.

[2016-06-03 21:57] FrancescoSTL commented on #16
After discussing a bit of design with Matt, this sidebar needs to eventually mirror the AMO cards as specified in https://github.com/mozilla/all-aboard/issues/9.

[2016-06-03 22:00] FrancescoSTL commented on #10
This thread can be closed upon successful merge of https://github.com/mozilla/all-aboard/pull/26.

[2016-06-03 23:48] chrismore commented on #11
@schalkneethling probably option 1 or 3. We want to make this pretty simply and we don't need to quiz people again if they didn't get it right. 95% of the time, people will probably get it right the first try. There is really only one obvious answer.

How about this option 4:

* Regardless if a user selects any of the radio buttons or not, when they click the "Tell Me" button, we highlight the cor

[2016-06-04 00:03] FrancescoSTL commented on #11
@chrismore++

I like option 4. Providing negative feedback if the user gets an answer wrong, might give off a negative vibe, and I think the point of the sidebar is to simply provide information rather than truly quiz users.

[2016-06-06 08:20] schalkneethling commented on #11
@chrismore Option 4 sounds fine but, I do not really understand why we need to use radio buttons at all then. Just so the user has the option to select something? Kinda faux interaction ;)

[2016-06-06 13:24] schalkneethling opened #28 "Snippets - US#6 - Base snippet override code"
Determine the requirements to override the default/current snippet with a snippet that matches the current sidebar theme.

[2016-06-06 13:45] schalkneethling opened #29 "Snippets - US#1 - Create online security snippets"
This tracks the implementation of the online security snippet that will accompany the online security[https://github.com/mozilla/all-aboard/issues/22] sidebar.

[2016-06-06 13:48] schalkneethling opened #30 "Snippets - US#2 - Create bookmarks snippet"
This tracks the implementation of the bookmarks snippet that will accompany the awesome bar[https://github.com/mozilla/all-aboard/issues/17] sidebar.

[2016-06-06 13:51] schalkneethling opened #31 "Snippets - US#3 - Create participation snippet"
This tracks the implementation of the participation snippet that will accompany the Mozilla community[https://github.com/mozilla/all-aboard/issues/23] sidebar.

[2016-06-06 14:59] schalkneethling opened #32 "Snippets - US#4 - Create mobile snippet"
This tracks the implementation of the mobile snippet that will accompany the mobile[https://github.com/mozilla/all-aboard/issues/18] sidebar.

[2016-06-06 15:18] schalkneethling opened #33 "Integrate with FxA/basket metrics pipeline"
Hi @schalkneethling! Further to the email thread from Ben Niolet, let's coordinate on the interface between this addon and Firefox Accounts.

Over in [1], [2] I've been tweaking the way that Firefox Accounts communicates login events to basket, in order to support the metrics needed for experiments here. The idea is for users bucketed into either the "values" or "utility" group, to end up subscrib

[2016-06-06 15:35] chrismore commented on #11
@schalkneethling re: radio buttons. Yeah, they are really faux. The issue with making them not radio button (how they were designed) is that it sort of looks like they should be clickable, but they are not. Imagine a user trying to click them and think they are broken and then maybe answer the question. The radio buttons just provide feedback to the user that they have select an answer and that th

[2016-06-06 20:46] chrismore commented on #33
Iframe code in bedrock:

https://github.com/mozilla/bedrock/blob/master/bedrock/firefox/templates/firefox/firstrun/firstrun.html#L74

iframe url with variables:

{{ settings.FXA_IFRAME_SRC }}?utm_campaign=fxa-embedded-form&amp;utm_medium=referral&amp;utm_source=firstrun&amp;utm_content=fx-{{ version }}&amp;entrypoint=firstrun&amp;service=sync&amp;context=iframe&amp;style=chromeless&amp;haltAfterSi

[2016-06-06 20:49] chrismore commented on #33
another option:

3) Use the same UTM parameter that exists on the form now, but add an additional one just for this experiment:

&onboarding=moz-values or &onboarding=fx-utility

Example:

https://accounts.firefox.com/?utm_campaign=fxa-embedded-form&utm_medium=referral&utm_source=firstrun&utm_content=fx-46.0&entrypoint=firstrun&service=sync&context=iframe&style=chromeless&haltAfterSignIn=true&onbo

[2016-06-06 20:50] chrismore commented on #33
@rfk ^^ r?

[2016-06-07 02:48] rfk commented on #33
Option (2) seems closest to what I had in mind, if we created corresponding subscriptions in basket named `fx-46.0-moz` and `fx-46.0-fx`.

[2016-06-07 16:34] schalkneethling commented on #21
@chrismore In the copy doc for this sidebar, it is stated that we should follow up showing the answer with private browsing. Now, my question is:

It also states that the button copy for this sidebar is Learn more and not Tell me, like the others. I am wondering, should we have the initial copy state Tell me, and once clicked change it to Learn more. When the user then clicks on the button again,

[2016-06-07 17:13] chrismore commented on #21
@schalkneethling good question. I changed the copy to "Tell Me" for the button CTA to align it with the rest of the questions.

As for the secondary copy, 3 sidebars have follow up copy that would only show after answering the question. I updated the copy that should show what copy and link will show below the button after you answer the question:

https://docs.google.com/document/d/1Fzxe-Y2ZOheJ0

[2016-06-07 20:28] FrancescoSTL commented on #11
Merged

[2016-06-07 20:28] #11 closed

[2016-06-07 20:29] FrancescoSTL commented on #10
Merged

[2016-06-07 20:29] #10 closed

[2016-06-07 20:29] FrancescoSTL commented on #12
This issue can be closed after successful merge of #35

[2016-06-07 20:37] chrismore commented on #33
Talked @rfk and Ben and we are going with option #1, just appending -moz and -fx to the end of the utm_campaign parameter. We'll leave the rest alone.

[2016-06-07 20:44] chrismore commented on #33
@schalkneethling ^^ here's the decision for the iframe URL.

Original URL:

https://accounts.firefox.com/?utm_campaign=fxa-embedded-form&utm_medium=referral&utm_source=firstrun&utm_content=fx-47.0&entrypoint=firstrun&service=sync&context=iframe&style=chromeless&haltAfterSignIn=true

Mozilla values track:

https://accounts.firefox.com/?utm_campaign=fxa-embedded-form-moz&utm_medium=referral&utm_sour

[2016-06-07 21:07] FrancescoSTL opened #38 "Build sidebar that shows some of the user's browser data"
Sidebar 5 for browser data migration

## Flow
User loads Firefox for the first time
Their browser data is auto-migrated using the auto-migration tool
The user is shown some of their browser history, bookmarks, and websites where they have saved their passwords in other browsers

[2016-06-08 04:02] rfk commented on #33
FYI I'm adding the agreed-on `utm_campaign` values and their corresponding subscriptions here:

  https://github.com/mozilla/fxa-basket-proxy/pull/28/files#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R56

@chrismore I invite you to do a quick sanity-check that we've got the values as expected.

[2016-06-08 15:52] schalkneethling commented on #1
Closing this as the logic has been merged into master.

[2016-06-08 15:52] #1 closed

[2016-06-08 15:54] schalkneethling commented on #38
As mentioned elsewhere, you wanna have a look here https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/places_history and here https://developer.mozilla.org/en-US/Add-ons/SDK/Low-Level_APIs/places_bookmarks for this sidebar

[2016-06-08 15:57] FrancescoSTL commented on #38
Thanks @schalkneethling! I got the functionality working yesterday. Now I am working on the algorithm used to select which top history/bookmark's to show the user that we have imported.

[2016-06-08 16:16] chrismore commented on #33
@rfk looks good to me!

[2016-06-08 19:16] FrancescoSTL opened #40 "Hide title text for sidebars"
Per @chrismore's note, we need to mirror the blank title section for the sidebars, rather than having the current text

[2016-06-08 19:36] FrancescoSTL opened #41 "Change header padding/margins to reflect UX mockups"
Per @chrismore's note, we need to rescale the header gifs in all 10 sidebars to match the UX mockups on invision

[2016-06-08 21:05] FrancescoSTL commented on #38
Update: apparently the low level API's for grabbing history don't contain all the info we want. We are looking to replicate something with a title, potentially an image, etc. Like this:
<img width="595" alt="screen shot 2016-06-08 at 10 40 23 am" src="https://cloud.githubusercontent.com/assets/9794516/15910848/aecc52be-2d81-11e6-8d29-64e1a4ebf16a.png">

In order to do that, I'dl need to figure out

[2016-06-09 12:23] schalkneethling commented on #38
I don't know. I am kinda torn on this one. I would say showing a couple random bookmarks and some supporting copy stating all the things that has been auto imported is better. For me personally, I will find the fact that an add-on just grabs and displays my history concerning.

I am very privacy conscious, so perhaps it is just me but, there is a lot of education going on about privacy, and we are

[2016-06-10 18:38] FrancescoSTL commented on #38
For some reason, when some people download the latest XPI to test this, their latest bookmarks aren't showing up. However, it doesn't always happen. All the versions of Firefox on my machine are querying for bookmarks properly, and any new profile that is created on other machines seems to be working as well. I haven't been able to replicate the issue thusfar. I am thinking that it may be an issue

[2016-06-13 14:52] schalkneethling opened #46 "about:home"
@chrismore - I was wondering, what is the interaction model we expect for users when it comes to about:home? What I mean is, other than when a user clicks on 'No thanks', what are the other scenarios that will take them there?

Is this simply when they type about:home into the address bar or, perhaps after a restart? In general after a restart, a user's last session's open tabs are shown. Not enti

[2016-06-13 18:11] schalkneethling opened #52 "Auto build xpi"
I was thinking that we probably want the `.xpi` on master reflect the most recent work merged to master. Currently we are building it on demand, randomly, and adding it to the repo.

Might be worth to link this to circle-ci and have it build a new xpi every time we merge new code. Thoughts?

@chrismore @FrancescoSTL

[2016-06-13 21:48] chrismore commented on #52
@schalkneethling that seems to make sense to me.

[2016-06-13 22:34] chrismore commented on #46
@schalkneethling I just updated the flow diagram to make about:home a bit more clear.

https://mana.mozilla.org/wiki/display/EN/Onboading+Add-On+Flow+Diagrams

The only two different types of interactions that we need to worry about with about:home.

1) On the first installation of Firefox, we show the data sidebar on about:home.

2) On any future session of Firefox, the only thing we need to worr

[2016-06-13 22:35] chrismore commented on #12
Merged #35

[2016-06-13 22:35] #12 closed

[2016-06-14 11:44] chrismore opened #57 "Add a link to github repo in add-on"
We need to add a link to this repo in the main add-on preferences so that if people want to know more about it, they can view the repo:

http://cl.ly/2a2M1u0q3e2t

Use the "Homepage" variable in the XPI creation and link it to:

https://github.com/mozilla/all-aboard/

[2016-06-14 13:22] schalkneethling opened #60 "Snippets - Utility - Content 1 (Search)"
Tracker for the implementation of the content 1 utility snippet.

[2016-06-14 13:25] schalkneethling commented on #14
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:26] #14 closed

[2016-06-14 13:26] schalkneethling commented on #15
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:26] #15 closed

[2016-06-14 13:26] schalkneethling commented on #16
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:26] #16 closed

[2016-06-14 13:27] schalkneethling commented on #17
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:27] #17 closed

[2016-06-14 13:27] schalkneethling commented on #18
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:27] #18 closed

[2016-06-14 13:27] schalkneethling commented on #19
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:27] #19 closed

[2016-06-14 13:27] schalkneethling commented on #20
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:27] #20 closed

[2016-06-14 13:28] schalkneethling commented on #21
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:28] #21 closed

[2016-06-14 13:28] schalkneethling commented on #22
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:28] #22 closed

[2016-06-14 13:29] schalkneethling commented on #23
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:29] #23 closed

[2016-06-14 13:30] schalkneethling commented on #28
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:30] #28 closed

[2016-06-14 13:30] schalkneethling commented on #29
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:30] #29 closed

[2016-06-14 13:31] schalkneethling commented on #30
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:31] #30 closed

[2016-06-14 13:31] schalkneethling commented on #31
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:31] #31 closed

[2016-06-14 13:32] schalkneethling commented on #32
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:32] #32 closed

[2016-06-14 13:32] schalkneethling commented on #60
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:32] #60 closed

[2016-06-14 13:33] schalkneethling opened #61 "Remaining Snippets"
Tracker for the remaining snippets for which there was not a specific issue.

[2016-06-14 13:33] schalkneethling commented on #61
Let close these so we can easily see the overall progress towards v0.5.0

[2016-06-14 13:33] #61 closed

[2016-06-14 13:58] schalkneethling opened #62 "Sidebar for user reward"
As a Firefox user who answers questions on my first experience, I’m excited to know that Mozilla is sending me a sticker for my continued use, so that I know they value me as a user.

[2016-06-14 13:59] schalkneethling opened #63 "Snippet for user reward"
As a Firefox user who answers questions on my first experience, I’m excited to know that Mozilla is sending me a sticker for my continued use, so that I know they value me as a user.

[2016-06-14 14:00] schalkneethling opened #64 "Make badges clickable"
There will be 5 badges at the bottom and you will receive one for each content element excluding the first run data import. The items should be clickable to go backwards, but not forward. If you do go backwards and close a sidebar and re-open it, it should show the latest content and not the one you scrolled back to from clicking the badge.

Also, please ensure if you click on other badges and go

[2016-06-14 14:15] schalkneethling opened #65 "Transient notifications"
@chrismore - I was just thinking, have we decided what the copy/design should be for the transient notifications that are shown for each sidebar?

[2016-06-14 14:18] schalkneethling opened #66 "Implement new icon and icon states"
This is the tracker to implement the new icon as designed by Matt. I know there was a discussion about the different states, green, yellow, gray but, I cannot remember all the details. @chrismore was this noted down somewhere?

[2016-06-14 14:37] schalkneethling opened #67 "Update snippets layout"
The layout of the current snippets needs to be updated the follow the standard snippet format i.e.
Icon on the left, copy, links, and buttons to the right.

![screen_shot_2016-06-14_at_12 15 02_pm](https://cloud.githubusercontent.com/assets/10350960/16046870/35bd813c-324e-11e6-97b9-09035425e0e0.png)

[2016-06-14 14:45] schalkneethling opened #68 "Snippets copy rotation"
Each snippet that forms part of the add-on contains three pieces of copy. These need to be shown on rotation so that the user does not see the same piece of copy over and over for each 24 hour period.

The CTA and icon remains the same though.

[2016-06-15 08:04] schalkneethling opened #69 "Bug on subsequent toggle of sidebar"
When a sidebar has been launched and closed after the initial notification, subsequent launches od the same sidebar causes an error as sidebarProps is undefined.

[2016-06-15 08:37] schalkneethling opened #70 "On browser startup bug"
The following code is currently run on browser startup:

[code]
All is fine except, we should be calling `showBadge()` to indicate there is new content, not actually open a sidebar.

[2016-06-15 09:09] FrancescoSTL commented on #52
Yep, I think this would be good.

[2016-06-15 10:40] FrancescoSTL commented on #57
Merged in #72

[2016-06-15 10:40] #57 closed

[2016-06-15 10:52] chrismore opened #74 "Compress gif images"
The animated gifs in the media folder for both the values and utility track are 1-8MB each and those are massive and contributing to the size of the XPI overall.

[2016-06-15 11:16] schalkneethling commented on #74
Yup, I have noticed this. I compressed them as much as one can after the fact but, perhaps can have a look at improving the size of the initial files. There are some tricks, like lessening the number of tween frames and compressing the images used before they are added to the animated gif.

For the utility stream gifs, perhaps we do not have to care about high-dpi versions. In that case, Matt can

[2016-06-15 11:18] schalkneethling commented on #74
I did some experimentation with gifsicle and here is the first result:

Current:
Dimensions: 640x440px
File size: 1.2MB
![content1](https://cloud.githubusercontent.com/assets/10350960/16077818/69ceefda-32fb-11e6-80f6-bd85f0f0b30a.gif)

Optimized
Dimensions: 320x220px
File size: 553kb
![content1-optimized](https://cloud.githubusercontent.com/assets/10350960/16077826/723c9a96-32fb-11e6-8880-6aec5f44

[2016-06-15 12:18] chrismore opened #76 "Notifications don't go away"
I used this config:

`{
    "defaultSidebarInterval": 5,
    "timeElapsedFormula": 1000,
    "waitInterval": 5000
}
`

I got a notification every 5 seconds regardless if I engaged with the sidebar or not and even after getting to the final sidebar, I kept getting notifications. They never ended.

[2016-06-15 12:28] FrancescoSTL opened #77 "SidebarProps is Undefined"
Currently getting this console error every time a sidebar is opening.
<img width="811" alt="screen shot 2016-06-15 at 1 28 21 pm" src="https://cloud.githubusercontent.com/assets/9794516/16079755/0cd82d08-32fd-11e6-82b9-291fce57e286.png">

[2016-06-15 12:30] FrancescoSTL commented on #77
Closing as it is a dupe

[2016-06-15 12:30] #77 closed

[2016-06-15 12:33] chrismore opened #78 "Re-open sidebar when notification is received and sidebar is open"
If you have the sidebar open and you get a notification, clicking it closes it, which is a bad user experience since the notification doesn't give you anything.

Since we can't change the state of the sidebar while open, we'll have to close it and re-open it when this state occurs.

Proposed Logic:

If sidebar.open && notification.received then {
   sidebar.close;
   sidebar.open;
}

[2016-06-15 12:37] chrismore opened #79 "Show badge when clicking sidebar cta"
This probably makes more sense than just making it show up even though we have gone back and forth on it.

Utility side

* search button
* PB open button
* highlight awesomebar button
* trying any theme
* clicking any of the mobile buttons

Values side:

* Clicking the "tell me" button

[2016-06-15 12:51] FrancescoSTL commented on #78
In the current version (after merging the two most recent PR's) this issue still exists. One other thing to note in a similarly related bug, whenever there is no notification, clicking the badge throws a "sidebarprops is undefined" error. I'll file a separate issue for this.
<img width="854" alt="screen shot 2016-06-15 at 1 46 02 pm" src="https://cloud.githubusercontent.com/assets/9794516/16080339

[2016-06-15 12:53] FrancescoSTL opened #80 "Error when clicking badge w/o notification present"
If there is no notification present on the badge (already opened the sidebar), and the sidebar is currently open, clicking the badge throws the following error: "The provided title and url combination is invalid (already used)."
<img width="854" alt="screen shot 2016-06-15 at 1 46 02 pm" src="https://cloud.githubusercontent.com/assets/9794516/16080379/77f30592-3300-11e6-806d-ca298297c30d.png">

[2016-06-15 12:56] FrancescoSTL commented on #69
Fixed in #73

[2016-06-15 12:56] #69 closed

[2016-06-15 12:57] FrancescoSTL commented on #70
Fixed in #75

[2016-06-15 12:57] #70 closed

[2016-06-15 13:03] schalkneethling commented on #78
@FrancescoSTL Just double check that you are up to date with the latest master also, there is a pull request that fixes this issue: https://github.com/mozilla/all-aboard/pull/81

[2016-06-15 13:05] FrancescoSTL commented on #78
Yep, I am up to date with the latest master. I'll check out the PR shortly!

[2016-06-15 13:06] schalkneethling commented on #79
@chrismore Badge as in token aka the icons at the bottom? So we are not giving them simply for opening the sidebar, they need to take action?

[2016-06-15 13:06] schalkneethling commented on #80
This is solved in https://github.com/mozilla/all-aboard/pull/81

[2016-06-15 13:07] schalkneethling commented on #76
@chrismore see if this is resolved once https://github.com/mozilla/all-aboard/pull/81 is merged.

[2016-06-15 13:22] schalkneethling opened #82 "Award tokens buggy"
It seems the award tokens are a little buggy. This might be a timing issue with simple-storage but, they do not show up consistently.

[2016-06-15 13:24] FrancescoSTL commented on #80
Seems as though this issue is still present before you:
A. Reach and finish the import sidebar or,
B. Exit the import sidebar

[2016-06-15 13:28] schalkneethling commented on #66
@chrismore I was thinking that, until the user has completed the questions and the import(data imported) sidebar is shown, the add-on should be disabled. Thoughts?

[2016-06-15 13:30] FrancescoSTL commented on #66
Once this issue is solved, issue #80 should be nullified, assuming we disable the add-on before the import sidebar completed or exited.

[2016-06-15 13:31] schalkneethling commented on #78
@chrismore Can you confirm that this is resolved? Thanks!

[2016-06-15 13:31] schalkneethling commented on #80
@chrismore Can you confirm that this is resolved? Thanks!

[2016-06-15 13:31] FrancescoSTL commented on #79
@schalkneethling Yep! We discussed with Matt in person and are reverting to adding a token when the action is taken

[2016-06-15 13:32] schalkneethling commented on #76
@chrismore Can you confirm that this is resolved? Thanks!

[2016-06-15 13:36] chrismore opened #83 "Add Google Analytics events to /firstrun/ HTML code inection"
We'll need to work with Peter and Gareth on getting what variables to inject into the HTML:

Events:
- answering yup or nope to new/existing user question
- answering the do good vs do it yourself question
- clicking no thanks

We shouldn't need anymore events since the FxA form already has events on it.

[2016-06-15 13:36] chrismore commented on #83
@garethcull

[2016-06-15 14:00] chrismore commented on #66
@schalkneethling correct. If they didn't answer the 2 questions on first run, the add-on stays disabled and they don't get onboarding. The onboarding is only for people who have answered both questions. If they answer the questions, the sidebar will be show regardless of what you do next.

[2016-06-15 14:04] chrismore commented on #76
@schalkneethling fixed! But there is a new issue, clicking the chrome icon doesn't close the sidebar. It just refreshes it. I can't close it unless I click the [X].

[2016-06-15 14:05] chrismore commented on #80
@schalkneethling this is resolved, but a new issue is noted here: https://github.com/mozilla/all-aboard/issues/76#issuecomment-226197114

[2016-06-15 14:07] schalkneethling commented on #76
@chrismore yup, this is the next thing to do. I need to see the best way to handle that. I have an idea though. Will open and issue for that.

[2016-06-15 14:07] #76 closed

[2016-06-15 14:08] FrancescoSTL opened #84 "Add Theme Images Locally"
Users on a slow connection (such as myself currently at MozLondon 😏) will have trouble viewing the theme sidebar, as loading the theme images takes a while and nothing shows up in the meantime. I'm thinking the best fix for this is to add the files to the add on locally. The only downside to this is increasing the size of the xpi, but it will likely be negligible.

[2016-06-15 14:10] #80 closed

[2016-06-15 14:12] schalkneethling opened #85 "Enable toggle for existing sidebar"
Add the ability to simply toggle the visibility of the current sidebar when we are not showing new content but simply toggling an existing sidebar.

[2016-06-15 14:17] chrismore commented on #79
yeah, let's change it so that the button tokens/badges only show up after you click a button. Seems like something badge-worthy than just showing it immediately.

[2016-06-15 14:19] chrismore opened #86 "Trigger start timer when a badge is displayed (clicking CTA in sidebar)"
With this new logic: https://github.com/mozilla/all-aboard/issues/79 we need to change the timer start so that it only starts once a badge if given. If we don't, a user could make it to the end by simply clicking the desktop notification, engaging with noting, receiving no badges, and we give them a sticker, which seems like false engagement.

[2016-06-15 14:20] schalkneethling commented on #84
So, there are a couple of positives regarding the size of the add-on. As it is shipped with Firefox, the user does not download and install it, with that said though, we can not just arbitrarily bloat the size of Firefox.

Do you know what the size will be of having those locally? Also, might there be an issue with Firefox blocking us if we try and "install" a theme that way?

The alternative is t

[2016-06-15 14:24] schalkneethling commented on #66
Ok so, add-on icons stays disabled until the data import sidebar is shown. Noted.

[2016-06-15 14:26] schalkneethling commented on #79
Ok, so based on discussions, we are changing the awarding of tokens as follows:

Tokens are now only awarded when the user takes the relevant action presented by the sidebar(See https://github.com/mozilla/all-aboard/issues/79#issue-160411651 for details)

New timers are also only started once the user has taken the above action and not before i.e. not when the sidebar is opened.

[2016-06-15 14:31] schalkneethling commented on #82
This will be resolved by https://github.com/mozilla/all-aboard/issues/79 and https://github.com/mozilla/all-aboard/issues/86

[2016-06-15 14:33] FrancescoSTL commented on #84
@schalkneethling I was thinking this when I developed the feature starting out, however, I'm not sure it is the best play any longer. We'd be looking at ~50kb per theme, which isn't a whole lot in the grand scheme of things. The theme that we are requesting from AMO is simply an object with various parameters such as author, header color, footer color, etc. The ones we are interested in are the he

[2016-06-15 15:15] FrancescoSTL commented on #84
Installing themes locally is working. It will look something like:

` var url = self.data.url("./media/FoxFF.jpg");
    var theme = {"username":"jbhphx","description":null,"detailURL":"https://addons.mozilla.org/en-US/addon/fox-in-snow/","accentcolor":"#ffffff","iconURL":"https://addons.cdn.mozilla.net/user-media/addons/111387/preview_small.jpg?1270135366","previewURL":"https://addons.cdn.mozilla.

[2016-06-15 15:17] FrancescoSTL commented on #84
Additionally, we can attempt to store the entire object in memory and see if that reduces load time. I'm sure slow load time is a combination of requesting the object from AMO and requesting the image from AMO (separately).

[2016-06-15 15:23] chrismore opened #87 "Sign Add-On"
Mike Kaply said it is easy. He can drop the info here.

[2016-06-16 07:15] schalkneethling opened #89 "JS Cleanup Part 1"
The functions `getHistory(worker);` and `getBookmarks(worker);` has a lot in common, after out first deadline, we should look at creating one utility function that can be used by both, passing only what is unique to the utility.

[2016-06-16 07:17] schalkneethling opened #90 "Optimize layout of user data sidebar"
There was a discussion here https://github.com/mozilla/all-aboard/pull/44#issuecomment-226211813 and further along the thread about tightening up the layout for the user data sidebar. We can use some of Matt's help on this.

[2016-06-16 08:01] schalkneethling commented on #46
@chrismore  correct me if I am wrong, the first snippet will only start to override the default along with the first content sidebar i.e. 24 hours after the data imported sidebar is shown.

[2016-06-16 08:08] schalkneethling opened #91 "Private browsing mode"
@chrismore Do we want this add-on to be active when the user is in private browsing mode as well? i.e. show notifications, sidebars etc?

[2016-06-16 08:20] schalkneethling opened #92 "Destroy Add-On Conditions"
There are two conditions at which point we want to "uninstall" the add-on:

1. If a user clicks the "No thanks" link on the /firstrun question modal
2. When the user has interacted with all 5 content sidebars as well as the final reward sidebar.

From what I have been able to determine, there is no uninstall function we can call so, my proposal is this. Each of the components we use, `Sidebar`, `A

[2016-06-16 08:33] chrismore opened #93 "Update copy on data importer 2nd scene (only needed if auto-import fails to happen)"
"Great success" is not it.

[2016-06-16 08:43] chrismore opened #94 "Reduce margin above tokens"
To reduce the potential for horizontal scrolling. Try about 40px from the bottom of whatever content is in the body of the sidebar.

[2016-06-16 08:46] chrismore opened #95 "Reduce add-on requests to AMO"
From 2 to 1 to reduce latency.

[2016-06-16 08:47] FrancescoSTL commented on #84
Close in favor of #95

[2016-06-16 08:47] #84 closed

[2016-06-16 08:51] chrismore opened #96 "Update desktop notification copy and image"
* need new copy
* Need to ensure the Firefox logo is the icon and not the light bulb icon (https://github.com/mozilla/all-aboard/issues/66)

[2016-06-16 08:51] FrancescoSTL commented on #96
https://github.com/mozilla/all-aboard/blob/3e626330226b15264339d82cb73e5edbb46e103a/index.js#L159

[2016-06-16 08:53] chrismore commented on #96
Clarification:

Desktop notification icon: Firefox logo
Chrome Badge: Light bulb icon

[2016-06-16 08:58] chrismore opened #97 "Dismiss awesomebar highlight onClick"
Right now, it doesn't ever go away.... ever.

[2016-06-16 09:00] chrismore opened #98 "Add Adjust ADK attribution URLs for the mobile icons"
@bniolet1 can make us the two URLs and swap them out for the google play and app store links.

[2016-06-16 09:05] chrismore commented on #96
Actually, it looks like desktop notifications have two icons, the application itself from the OS and another icon to the right is custom. We should then make the notification have Firefox icon left (default) and Light bulb icon right.

[2016-06-16 09:05] chrismore commented on #96
This issue may be deprecated by issue #66 if @schalkneethling just updates the png source directly since this notification already points to an icon that is also used in the chrome.

[2016-06-16 09:09] chrismore opened #99 "Reduce margin below header question on values track"
Make the margin above the answers to be equal to the margin below the answers. i.e. balance the margins above and below the radio button answers.

[2016-06-16 09:09] FrancescoSTL commented on #99
<img width="321" alt="screen shot 2016-06-16 at 10 08 30 am" src="https://cloud.githubusercontent.com/assets/9794516/16111415/61e76388-33aa-11e6-8ac4-ee54a9cd74cc.png">

[2016-06-16 09:12] chrismore opened #100 "Sun in vales sidebar content 2 icon is not animating"
Currently, there is no animation.

[2016-06-16 09:17] chrismore opened #101 "CSS disable the wrong answers on the values track after clicking "Tell Me""
After clicking tell me:

* radio buttons are disabled
* wrong answers are greyed out
* correct answer is bold

[2016-06-16 09:22] chrismore opened #102 "Reduce margins top/bottom on value sidebar header images by 50%"

[2016-06-16 09:34] chrismore opened #103 "Remove "Tell Me" button on values sidebar when there is follow-up text"
Logic:

On the 3 values sidebars with follow up copy after answering the question, hide the "Tell me" button, slide up the follow up copy and show the second CTA button. Use CSS animations to make it a smooth transition. If we need any CSS magic, @craigcook has some series skillz.

[2016-06-16 10:06] schalkneethling opened #104 "Sidebar - Utility - Free to choose"
This sidebar currently has no JS attached to it. This means that showing already earned tokens as well as assigning the new token will not work.

[2016-06-16 10:13] schalkneethling commented on #78
@chrismore Please confirm that this is resolved after https://github.com/mozilla/all-aboard/pull/105 merges. There is still issue https://github.com/mozilla/all-aboard/issues/85 which will be handled separately. Thx

[2016-06-16 10:13] schalkneethling commented on #82
@chrismore @FrancescoSTL Please confirm that this is resolved after https://github.com/mozilla/all-aboard/pull/105 merges. Thx

[2016-06-16 10:17] bniolet1 commented on #98
Android link:
http://mzl.la/1HKLL5H

iOS link:
https://mzl.la/1YtDCxH

[2016-06-16 10:32] schalkneethling commented on #100
I cannot replicate this one. With that said, whilst testing earlier on, it seemed like the browser had some painting issues that caused the gif animation to appear broken. We really need to look at optimizing these.

[2016-06-16 10:35] FrancescoSTL commented on #100
Might be an issue locally on my machine. I redownloaded the gif and it was animated, however, ran a git diff and there was no difference.

[2016-06-16 10:37] schalkneethling commented on #100
![sidebar2](https://cloud.githubusercontent.com/assets/10350960/16113904/e5cc3d86-33be-11e6-8653-b43f6f2d1a5b.gif)

@FrancescoSTL no, I think these gif animations are causing problems. They are heavy on the computers cpu, and once the browser is suffering, it effects all follow up sidebars as well.

[2016-06-16 10:37] schalkneethling commented on #100
I am closing this for now, we ca reopen if we still see this after the gifs have been optimized.

[2016-06-16 10:37] #100 closed

[2016-06-16 10:40] chrismore commented on #91
@schalkneethling let's keep the add-on disabled (default state) in PB mode. I don't think there is anything to do here.

[2016-06-16 10:46] chrismore commented on #78
@schalkneethling fixed now!

[2016-06-16 10:48] #79 closed

[2016-06-16 10:50] chrismore commented on #52
makes sense to me

[2016-06-16 10:51] FrancescoSTL commented on #99
Fixed in #106

[2016-06-16 10:51] #99 closed

[2016-06-16 10:51] FrancescoSTL commented on #82
Fixed in #105

[2016-06-16 10:51] #82 closed

[2016-06-16 10:52] chrismore commented on #46
@schalkneethling correct. Snippets will only start to override when new content is available, i.e. when the notification happens.

[2016-06-16 10:52] FrancescoSTL commented on #74
New images:  https://www.dropbox.com/sh/xeybqk5lm84wkqq/AABIp7VP5x99UvNJWeGkw-nVa?dl=0

[2016-06-16 12:35] FrancescoSTL commented on #74
Utility sidebars will be compressed when #107 merges

[2016-06-16 12:35] FrancescoSTL commented on #41
Done upon successful merge of #107

[2016-06-16 13:11] schalkneethling commented on #91
Thanks Chris

[2016-06-16 13:11] #91 closed

[2016-06-16 13:11] schalkneethling commented on #78
\o/

[2016-06-16 13:11] #78 closed

[2016-06-16 13:17] schalkneethling commented on #74
First set of utility sidebar updates merged in https://github.com/mozilla/all-aboard/pull/107

[2016-06-16 13:20] #41 closed

[2016-06-16 13:39] FrancescoSTL commented on #102
Fixed in #109

[2016-06-16 13:39] #102 closed

[2016-06-16 13:42] #94 closed

[2016-06-16 14:50] schalkneethling commented on #97
@FrancescoSTL have not tested it but, this might be what you are after for this:

[code]

[2016-06-16 16:58] schalkneethling commented on #97
I was just thinking, we probably want to remove the event listener on the url bar after we cleared the highlighting. I am pretty sure this is not auto-magically taken care of for us like jQuery will.
https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/removeEventListener

[2016-06-16 20:07] FrancescoSTL commented on #74
Compressing values header images is not necessary for the demo tomorrow, as they are sized correctly right now, we just want to reduce file size. Moving milestones

[2016-06-16 20:41] FrancescoSTL commented on #104
Merged in #110

[2016-06-16 20:41] #104 closed

[2016-06-16 20:41] FrancescoSTL commented on #103
Merged in #112

[2016-06-16 20:41] #103 closed

[2016-06-16 20:42] FrancescoSTL commented on #86
Merged in #111

[2016-06-16 20:42] #86 closed

[2016-06-16 20:48] FrancescoSTL opened #113 "Multiple CTA Clicks Ilicits Multiple Notifications"
If you click the CTA on any sidebar n times, you will get n notifications.

Known regression caused in #111

[2016-06-16 20:59] FrancescoSTL opened #114 "Multiple Badge Clicks Allows Users to Progress w/o Token"
If I click the badge n times I can advance n sidebars further into the addon. So if I was on sidebar one, I could click the badge 5 times and would advance to the 5th sidebar automatically.

Known regression caused by #111

[2016-06-16 21:27] FrancescoSTL commented on #97
Can close after successful merge of #115

[2016-06-16 22:54] FrancescoSTL commented on #113
Initial thoughts: since we will only want one notification possible per sidebar, regardless of the # of time someone interacts with it, closes/reopens it, etc, we should probably keep track of whether we've interacted with each sidebar on a given step. This might look as simple as a flag which we flip true when we've sent a notification, check if it is true before we send any notifications, and fl

[2016-06-16 23:07] FrancescoSTL commented on #113
Can close on merge of #117

[2016-06-16 23:07] FrancescoSTL commented on #114
Can close on merge of #116

[2016-06-17 07:33] #97 closed

[2016-06-17 07:37] #113 closed

[2016-06-17 08:25] #114 closed

[2016-06-17 08:56] FrancescoSTL opened #118 "Change margin between button and content on Import_data.html"
The space between the bottom of the import_data sidebar and the button should be the same as the space between the content and buttons in the rest of the sidebars

[2016-06-17 09:10] schalkneethling commented on #66
[light-bulb-icons.zip](https://github.com/mozilla/all-aboard/files/320135/light-bulb-icons.zip)

New add-on icon

[2016-06-17 09:12] chrismore opened #119 "Update utility content 4"
Current copy:

Just type here, and we’ll quickly retrieve your history, bookmarks, and more.

New copy:

Just type here, and you'll quickly find your history, bookmarks, and more.

https://github.com/mozilla/all-aboard/blob/master/data/tmpl/utility/content4.html#L15

[2016-06-17 09:49] chrismore opened #122 "Change values button text"
From:

Tell Me

To:

Show Answer

[2016-06-17 09:49] chrismore opened #123 "Check Distribution.id before appending values"
If you install the add-on, answer the questions, use the answers, then re-install the add-on, and go through the experience again, it will keep appending the meta data to the distribution.id over and over.

mozilla86-utility-new-values-existing-utility-existing-new......

[2016-06-17 09:51] FrancescoSTL commented on #122
Merged in #124

[2016-06-17 09:51] FrancescoSTL commented on #119
Merged in #120

[2016-06-17 09:51] #119 closed

[2016-06-17 10:25] FrancescoSTL opened #125 "Randomize "do it yourself" vs "do good""
Per Ben/Fabio, we'd like to randomize the order of "do it yourself" vs "do good" on the firstrun page.

[2016-06-17 10:52] chrismore opened #127 "Make sidebar HTML/CSS responsive"
We are still getting some horizontal scrolling and even with making the margins smaller, we are going to be optimizing for a fixed resolution when we have users on a variety of screen sizes. So, let's see what we can do to make the sidebar responsive. We'll need this by the end of the month.

[2016-06-17 10:54] FrancescoSTL commented on #122
Reopening to change "Show Me" to "Show Answer"

[2016-06-17 11:24] schalkneethling commented on #122
This seems to have been resolved.

[2016-06-17 11:24] #122 closed

[2016-06-17 12:10] FrancescoSTL opened #132 "Close sidebar w/o recieving token and can't reopen"
If you open a sidebar and don't finish the main CTA, close the sidebar, then try to reopen it, it will not open up. This is probably due to this line:
https://github.com/mozilla/all-aboard/blob/master/index.js#L583

Where we are checking:
`if( ... && simpleStorage.tokens.length === simpleStorage.step)`

[2016-06-17 12:13] FrancescoSTL commented on #101
Finished disabling answers and merged in #128. Next- grey out the wrong answers

[2016-06-20 13:56] bniolet1 opened #133 "Add "introductory" language to the first question"
Review feedback from Tim:

We need to add a little copy to the first page of first run. This is to give a little more context to what's going on.

The new text should be something like

 "Telling us a little bit about yourself will help Firefox be even better for you"

or

"Knowing about how you use Firefox will help us set you free on the Web."

![screenshot-www mozilla org 2016-06-20 09-50-53](h

[2016-06-20 14:05] bniolet1 opened #134 "Update copy for the import headline"
Update the headline on our "Plan B" import wizard page.
It is currently:

It should be:

[2016-06-20 14:07] bniolet1 opened #135 "Update copy for the desktop notification window"
Update copy for the desktop notification that appears when the user has a new message. The text currently reads:

[2016-06-20 14:08] bniolet1 commented on #134
![screen shot 2016-06-20 at 10 07 49 am](https://cloud.githubusercontent.com/assets/14222130/16197136/dd85aa3c-36ce-11e6-9b29-879aeaeb55d6.png)

[2016-06-20 14:08] bniolet1 commented on #135
![screen shot 2016-06-20 at 10 08 23 am](https://cloud.githubusercontent.com/assets/14222130/16197154/f021d7e2-36ce-11e6-9c39-b5c17e83292d.png)

[2016-06-20 14:12] bniolet1 opened #136 "Add 'Google' as a search option on utility flow #1"
Comment from Tim:

We need to add Google as a search option for the utility search pane. Right now, the graphics include Yahoo!, Bing! Amazon!, Duck Duck Go! and Ebay!.

Tim points out that users may think we don't offer Google. Plus Google is featured on the search box (at least on mine where Google is my default search).

![screen shot 2016-06-20 at 10 10 14 am](https://cloud.githubusercontent.c

[2016-06-20 14:18] bniolet1 opened #137 "Set timers to auto-close sidebars based on some condition"
Update the logic for the sidebar panel so that if a user does not engage with it for a set time, but has it open, we can consider the user to have engaged with the content and automatically close the sidebar.

@chrismore My notes are lacking on this one. What did we decide? Detect browsing to a new page determines when to close it? What was the conclusion of this conversation?

[2016-06-20 14:22] bniolet1 opened #138 "Add a link to themes store from utility "customize" panel"
Add a text link for

"Explore other themes" to the bottom of the themes panel.

The link should be:

https://addons.mozilla.org/en-US/firefox/themes/?utm_source=fdraddon&utm_medium=fdraddon&utm_content=themespanelutil&utm_campaign=fdraddon

@chrismore These utm aren't set in stone of you have hard opinions. Just wanted to be able to track links back to this panel on the add-on.

[2016-06-20 14:32] bniolet1 opened #139 "Update copy on utillity mobile sidebar"
Update copy on mobile sidebar to:

[2016-06-20 14:32] bniolet1 commented on #139
![screen shot 2016-06-20 at 10 30 47 am](https://cloud.githubusercontent.com/assets/14222130/16198014/471842b8-36d2-11e6-95c6-fb07ef16adb9.png)

[2016-06-20 14:33] bniolet1 opened #140 "Resize app and play store badges / images"
Resize the App and Play store badges so they are the same size on the sidebar.
![screen shot 2016-06-20 at 10 30 47 am](https://cloud.githubusercontent.com/assets/14222130/16198039/62f49c0c-36d2-11e6-8e2d-cb08d6d184ca.png)

[2016-06-20 14:37] bniolet1 opened #141 "Add 'send to device' link to mobile page"
Below the app and play store images, please add a text link that says:

The link should be:

???

@chrismore do we have a single page for all mobile downloads? All is see are separate pages for iOS and Android. I'm worried about the user experience if that's the case.

https://www.mozilla.org/en-US/firefox/android/

https://www.mozilla.org/en-US/firefox/ios/

[2016-06-20 15:08] bniolet1 opened #142 "Update copy on Privacy (values) sidebar"
Update the copy on the values sidebar for privacy.

![screen shot 2016-06-20 at 10 54 00 am](https://cloud.githubusercontent.com/assets/14222130/16198858/78ea29d4-36d5-11e6-86a8-d636b26369c7.png)

@chrismore

We need a separate task to update this copy. Answers "B" and "C" need to be shortened and punched up a bit. I can tackle an effort at this.

[2016-06-20 15:09] bniolet1 commented on #142
task created for this in taiga epic user story for values track

[2016-06-20 15:12] bniolet1 opened #143 "When CTA is clicked on the value track, hide "Show answer" button, and display specific copy when question is answered."
Right now, showing off the correct answer regardless of whether the user chose correctly or not is a bit of a flat experience.

We want to punch up the user experience a bit by responding to each answer the user submits. (the fact is, they will see the correct answer and get the point without us having to beat them over the head with the correct answer).

So the logic / flow is, user selects and a

[2016-06-20 15:17] bniolet1 opened #144 "Remove "no thanks" option after a user engages with questions"
If a user answers the first question on first run, let's get rid of the "No thanks" link until they have advanced to the accounts page where it can return.

[2016-06-20 15:18] bniolet1 opened #145 "Tabzilla missing on about:Home"
This was a comment from Tim. The "mozilla" wordmark on the about:home page is not contained within the tab as it is on our websites.

I'm personally confused about this since our version is consistent with how about:home currently looks. I will follow up with Tim on this.

[2016-06-20 15:37] bniolet1 commented on #145
[Mozilla Mail - clarification on add-on feedback.pdf](https://github.com/mozilla/all-aboard/files/323755/Mozilla.Mail.-.clarification.on.add-on.feedback.pdf)

[2016-06-20 16:13] bniolet1 commented on #145
Update on this: Per Tim, the Mozilla wordmark needs to be the same as the Tabzilla that appears on our webpages.

<img width="1141" alt="screen shot 2016-06-20 at 11 36 00 am" src="https://cloud.githubusercontent.com/assets/14222130/16201642/5f5c5b08-36e0-11e6-88d7-7fbb3007da1a.png">

[2016-06-20 16:33] chrismore commented on #137
How about this logic based on time?

`
if sidebar.open then {

    if sidebar(CTA).interact then {
        settimeout(sidebar.close, 120000)
        // close sidebar 120 seconds after they interact with it.
    } else {
         settimeout(sidebar.close, 300000)
         // close sidebar after 5 minutes if a user doesn't interact with it. Don't give badge and don't start next timer.
    }
}
`

[2016-06-20 16:47] chrismore commented on #145
We should close this. This is not part of the add-on. Tim should take this up Madhava and the Firefox UX team. about:home is not a webpage.

[2016-06-20 16:47] #145 closed

[2016-06-20 17:46] bniolet1 commented on #142
Answers B and C should be updated to:

[2016-06-20 18:02] bniolet1 opened #146 "Add additional "engagement" logic for utility mobile sidebar (content 5)"
We don't necessarily want or need a user to click on the mobile app store links since they'll be on desktop. The real idea is to 1) create a strong impression that the browser is available on mobile or 2) have them send a link to their device (see #141 )

This is the last stop on the journey and we don't want to close off the sticker to someone who didn't click a link but still got what we wanted

[2016-06-20 18:09] chrismore commented on #144
Just to clarify, if they answer the "have you used firefox in the past 30 days" question, make the "no thanks" link disappear.

[2016-06-20 18:23] chrismore commented on #146
@bniolet1 what do you think if we just simply give them the badge if they open the sidebar since most people don't need to click the app store badges to get mobile? It will be the only sidebar that we give people badges just by opening it, but it is the last sidebar on the utility path and you don't need to click a button to successful convert here since you can pull out your phone.

[2016-06-20 18:26] chrismore commented on #142
Short and sweet. Nice job @bniolet1

+1

[2016-06-20 18:27] bniolet1 commented on #146
In in favor of your idea, @chrismore  for exactly the reason you stated.

As a side note, though, this means we need to land on a plan for how to handle stickers and if sticker panel activates right away, we have to make sure we make a strong enough mobile badge impression before moving on to sticker stuff.

[2016-06-20 18:27] chrismore commented on #141
Here's the single mobile download page:

https://www.mozilla.org/en-US/firefox/mobile-download/

[2016-06-20 18:33] chrismore commented on #141
Let's move this to our next milestone past the MVP. We should do this right and have tracking for the send to device unique to this experience. This is how the about:home experience works and we can duplicate the experience.

[2016-06-20 18:34] bniolet1 commented on #141
+1.

Also the single download page doesn't provide any value over just having the badges on the sidebar.

[2016-06-20 18:48] chrismore opened #147 "Add UTM parameters to any external links"
Let's standardize the UTM parameters in the add-on:

The following should exist on all links:

utm_source=fxonboarding
utm_medium=referral
utm_campaign=onboardingv1

Like:

https://www.mozilla.org/en-US/?utm_source=fxonboarding&utm_medium=referral&utm_campaign=onboardingv1

Then for each link, we can add a specific utm_content field unique to each link:

utm_content=[X] where [X] is the theme of t

[2016-06-20 18:49] chrismore commented on #138
Given issue #147 that I just created, these URL parameters, should be:

https://addons.mozilla.org/firefox/themes/?utm_source=fxonboarding&utm_medium=referral&utm_campaign=onboardingv1&utm_content=customization

[2016-06-20 18:52] chrismore commented on #136
![screen shot 2016-06-20 at 11 51 16 am](https://cloud.githubusercontent.com/assets/751491/16206461/7215afe0-36dd-11e6-85c9-a6abc2c665da.png)

[2016-06-20 18:53] chrismore commented on #136
We probably still want to stick with 5 icons, so we'll have to drop one:

How about:

[Yahoo] [Google] [Bing] [Amazon] [Duck Duck Go]

@bniolet1  ?

[2016-06-20 18:56] chrismore commented on #147
For links in email, keep all the same parameters as above, but make utm_medium=email instead of referral. cc @bniolet1

[2016-06-20 19:01] chrismore commented on #135
Hmm. What could we say here that is generic, but also going to get users to want to click it.

About about:

Title: Welcome Aboard!
Body: Firefox has something special for you

[2016-06-20 19:01] chrismore commented on #135
@bniolet1 ?

[2016-06-20 19:05] chrismore commented on #133
How about:

"Help us setup your browser and Firefox will set you free on the Web"

[2016-06-20 19:05] chrismore commented on #133
@bniolet1 ?

[2016-06-20 19:09] chrismore opened #148 "Move "no thanks" link on first two questions below white box"
As seen in issue #133, move the "no thanks" link outside of the white box and centered below just like it is in the FxA form. Same logic, but just moved in the template.

[2016-06-20 19:10] chrismore commented on #133
Moving the "no thanks" link will be handled in issue #148

[2016-06-20 19:10] bniolet1 commented on #136
I'm good with this plan, @chrismore.

[2016-06-20 19:15] bniolet1 commented on #133
@chrismore

Let's run with it and see how it looks!

[2016-06-20 20:34] chrismore commented on #74
Let's get the values header images compressed too as they are still massive: https://github.com/mozilla/all-aboard/tree/master/data/media/headers/values

[2016-06-20 20:37] chrismore commented on #137
@FrancescoSTL @schalkneethling can you check out this logic to 1) see if it is possible. 2) What you think about the logic.

[2016-06-20 20:39] chrismore commented on #125
Great idea. Let's do it so it doesn't influence the selection.

[2016-06-21 02:37] chrismore commented on #87
@mkaply can you let us know what we need to do to get this add-on signed when finish up development?

[2016-06-21 15:17] mkaply commented on #87
Is this add-on going to be checked into Firefox or just done as a Funnelcake add-on?

[2016-06-21 15:21] schalkneethling commented on #147
@chrismore You mention sidebar here:

I am guessing this relates to snippets as well though?

[2016-06-21 15:29] chrismore opened #151 "Validate HTML contents in iframe sticker form"
We should figure out a method to ensure the form that is being presented in the sidebar iframe is what we expected and no one modified the form on ThinkSmart servers. If there is no dynamic content inside the ThinkSmart form, maybe we can hash the value of the HTML to ensure it is exactly the same each time.

[2016-06-21 15:36] chrismore commented on #147
Actually, we probably want to make the utm_medium a bit more specific:

Here's the new format:

All URLs will have:

utm_source=fxonboarding
utm_campaign=onboardingv1

Then each link will be specific to the medium and the content theme.

Example:

email link = utm_medium=email
snippet link = utm_medium=snippet
sidebar link = utm_medium=firefox-browser

content = utm_content = (searching|private br

[2016-06-21 15:36] chrismore commented on #87
Just a funnelcake add-on, you won't be able to find this on addons.mozilla.org.

[2016-06-21 15:39] mkaply commented on #87
And I assume there won't be any need to update it.

So you'll want to create an account on addons.mozilla.org and then submit the add-on to be signed as an unlisted extension. It can be as simple as a team account or something like that. It can even be a personal account, but you'll want to make sure to assign a second owner of the add-on just in case.

[2016-06-21 16:47] FrancescoSTL commented on #96
@bniolet1 @chrismore Have we determined what the copy will be for the notification? We need both a title (currently `All Aboard`) and body (currently `You have a new message`).

[2016-06-21 16:51] FrancescoSTL commented on #96
Seems this issue is duplicated in #66 and #135. Closing.

[2016-06-21 16:51] #96 closed

[2016-06-21 17:13] FrancescoSTL commented on #134
Fixed in #154

[2016-06-21 17:13] #134 closed

[2016-06-21 17:15] FrancescoSTL commented on #147
Fixed in #152

Thanks, @schalkneethling!

[2016-06-21 17:15] bniolet1 commented on #98
These are the links above, but unshortened:

Android
https://app.adjust.com/2uo1qc?campaign=inprod&adgroup=fdr_addon&creative=utilityandroid

iOS
https://app.adjust.com/2uo1qc?campaign=inprod&adgroup=fdr_addon&creative=utilityios&fallback=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid989804926%3Fpt%3D373246%26ct%3Dadjust_tracker%26mt%3D8

[2016-06-21 17:16] FrancescoSTL commented on #147
Actually, I'm going to reopen and move to tracking so we can remember to keep doing this if we add other links.

[2016-06-21 17:17] FrancescoSTL commented on #148
Fixed in #150

Thanks, @schalkneethling!

[2016-06-21 17:17] #148 closed

[2016-06-21 17:22] FrancescoSTL commented on #142
Fixed in #156

[2016-06-21 17:22] #142 closed

[2016-06-21 17:23] FrancescoSTL commented on #139
Fixed in #155

[2016-06-21 17:23] #139 closed

[2016-06-21 17:36] chrismore commented on #38
@FrancescoSTL @schalkneethling the Firefox team have landed the auto import code in nightly and it will soon backported to firefox 47.0, but it is possible to test in nightly.

Instructions:

Gijs> it's behind a pref in nightly
<Gijs> specifically, browser.migration.automigrate
<Gijs> so you can create a new profile, toggle that pref to true, and then exit and restart with the "--migration" comman

[2016-06-21 17:56] FrancescoSTL commented on #98
Fixed in #153

[2016-06-21 17:56] #98 closed

[2016-06-21 20:37] chrismore opened #157 "Remove sticker form iframe on content 6 sticker offer after offer expiration date"
The sticker form will close on 9/26/2016. On 9/26/2016, the add-on should replace the iframe to the sticker form to a message saying "We are sorry, but this offer has expired. Thanks for using Firefox and helping fight for a free and open Internet!"

[2016-06-21 20:42] chrismore opened #158 "Add "Claim your prize" link below tokens on content 5 on both tracks"
We need to add a link to the bottom of content 5 on both tracks to the sticker offer sidebar. This will give people the ability to immediately claim your prize instead of letting them hang.

When content 5 is opened, the timer will start for content 6, the sticker sidebar notification. If a user clicks the "claim your prize" link, it will cancel the timer notification as they are already viewing i

[2016-06-21 20:46] chrismore opened #159 "Decrease interval to content 6 sticker offer sidebar notification"
We are going to have a final and 6th content sidebar about the sticker offer for those who have received all 5 tokens. We don't want this notification to wait the normal 24 hours as we want to give more instant gratification to what they have accomplished.

We are thinking 2 hours should be suffice for the last notification and to not wait 24 hours.

To prevent from hard coding 2 hours to the last

[2016-06-21 20:48] chrismore commented on #159
@schalkneethling @FrancescoSTL is it technically possible to do 1/12 of the interval for the final sticker offer notification regardless of what the normal interval is set to. This way we don't have to have it set to "2 hours" or have another variable defined to have that setting. It can just simply be 1/12th of the interval and it would stink and expand depending on what the overall interval is s

[2016-06-21 20:48] chrismore commented on #158
The timer mentioned above is defined in issue #159

[2016-06-21 20:52] chrismore commented on #65
@schalkneethling will this be handled by issue #135 ? We do have the right icons in there now.

[2016-06-21 20:55] chrismore commented on #158
![image](https://cloud.githubusercontent.com/assets/751491/16245892/bfc2b906-37b7-11e6-9042-d76889775991.png)
Something Fabio mocked up last week.

[2016-06-21 21:02] chrismore commented on #143
You can see an example of this change in this mockup.

![image](https://cloud.githubusercontent.com/assets/751491/16246141/c466a7dc-37b8-11e6-973d-1dcaee223bac.png)

[2016-06-22 09:47] schalkneethling commented on #159
I am sure this is entirely possible.

[2016-06-22 15:18] schalkneethling commented on #137
@chrismore so basically, as soon as a sidebar is opened, and the user has not interacted with this sidebar before (this is the first time they are opening it), we start the 5 minute counter. Should the user interact with the CTA before the 5 minutes have elapsed, we cancel the 5min timer, start a 2min timer and close the sidebar.

Obviously then, if the user does not interact with the CTA before 5

[2016-06-22 15:42] chrismore commented on #137
@schalkneethling the Firefox team has said they have done a lot of testing with sidebars and other toolbars and after they are open, most users just keep them open and don't realize they can close them and their viewport size is even more compressed. Especially when things open automatically and the first sidebar does. They said we risk having most users just leave it open the whole time and think

[2016-06-22 15:46] chrismore commented on #137
@schalkneethling your assessment above is correct. If the sidebar does auto close and the user doesn't do anything, they are stuck on that step because they never interacted with the CTA. If we really wanted to, we reset the timer on the current sidebar notification until they open it up and interact with it (i.e. every 24 hours), but that seems like it could get spammy quick.

[2016-06-22 16:59] bniolet1 commented on #143
The responses for each answer selection re in the "Response" column here:

https://docs.google.com/document/d/1Fzxe-Y2ZOheJ0vFFjcQxAiofOWMWgBfjWgeG4gTtP-g/edit#heading=h.s5x6289mcprx

[2016-06-22 17:14] chrismore opened #166 "Display "Here's your badge" above badges when CTA is clicked (or sidebar opened on mobile sidebar)"
On the values track, when the question is answered. On the utility track, when the CTA is clicked except for the mobile 5th sidebar that shows the badge immediately.

This was coded for issue #143 for values, but it needs to be across both tracks. Issue #143 can just be about the follow up copy based on the answers just for the values track.

Code for the token received was put in #143 but can be

[2016-06-22 17:17] chrismore commented on #143
@schalkneethling as mentioned in this PR, use this issue just for the values track. When button clicked, hide button, display specific copy copy in place as seen in this doc in the response column of the values sidebar:

https://docs.google.com/document/d/1Fzxe-Y2ZOheJ0vFFjcQxAiofOWMWgBfjWgeG4gTtP-g/edit#heading=h.s5x6289mcprx

[2016-06-22 18:19] #136 closed

[2016-06-22 18:32] schalkneethling commented on #143
@chrismore Do I just use response "C" or do we want to show a response based on the answer the user actually selected? So, if they selected the second answer on content 1, upon clicking "Tell me", will we mark the correct answer, but then the message we show will be "We wish: There’s nothing like flaming desserts."?

Should I completely remove the "Here's your badge!" copy? Or should that follow a

[2016-06-22 18:34] #140 closed

[2016-06-22 18:36] schalkneethling commented on #137
Agree, I will implement as in https://github.com/mozilla/all-aboard/issues/137#issuecomment-227777769

[2016-06-22 19:25] chrismore commented on #143
@schalkneethling If they select "A", "B", or "C", hide the CTA button, and show the associated response copy in the in-product. Each answer has one and only one response to it. In the in-product copy, @bniolet1 wrote one sentence per each answer to the values track.

@schalkneethling for the "Here's your badge!" you can remove it from this issue and add it to issue #166 which is only about that sp

[2016-06-23 07:51] #144 closed

[2016-06-23 07:52] #146 closed

[2016-06-23 12:28] schalkneethling commented on #95
@chrismore Can you expand a little on this? Looking at the code, it seems to only do one request:
https://github.com/mozilla/all-aboard/blob/master/index.js#L207

[2016-06-23 12:31] FrancescoSTL commented on #95
@schalkneethling @chrismore ah, that was my fault. I forgot that we changed it to one request. We can still add the image files locally for a load of ~120kb per theme.

[2016-06-23 12:31] FrancescoSTL commented on #95
^if latency is still an issue

[2016-06-23 12:38] #95 closed

[2016-06-23 13:18] schalkneethling commented on #101
@chrismore Do we still want to this?

[2016-06-23 13:21] #65 closed

[2016-06-23 13:23] schalkneethling commented on #33
This has been merged in https://github.com/schalkneethling/all-aboard/commit/a7c9acd169d6f7625f3266e2883cce3e1525227a

[2016-06-23 15:31] chrismore commented on #101
@schalkneethling Right now @FrancescoSTL has it bolding and radio buttons disabled and that should be fine. Given that we are saying something funny for each response and people may want to re-read them, let's skip the grey out the wrong answers. Let's call this issue closed and move on to other issues.

[2016-06-23 15:41] chrismore commented on #95
@FrancescoSTL let's not add the images locally for now. The add-on is already going to be big enough. If we worry about the latency, we could have a progress spinner while waiting for the theme to apply, but I am not sure if there is an event you could detect on when the theme finishes applying.

[2016-06-23 15:52] #101 closed

[2016-06-23 16:19] chrismore commented on #143
All good here now. Nice job!

[2016-06-23 16:20] #143 closed

[2016-06-23 16:30] chrismore opened #168 "Change utility content if users are already actively using that utility feature"
For example, if users have used private browsing mode a few times already, advance the sidebar automatically and give them that badge. The same for the awesomebar, themes and if they have sync on more than one device. We may want to consider other content instead of purely advancing, so we'll have to decide.

[2016-06-23 16:33] chrismore opened #169 "Convert onboarding add-on into webextensions and a system add-on"
We need to do more research on if all system add-ons are webextensions or not. Regardless, if this onboarding add-on is successful, it will need to be baked into Firefox and thus it will need to be a system add-on. Also, webextensions are the future of add-ons and we need to ensure we are not building this much longer using the legacy SDK.

[2016-06-23 16:52] chrismore commented on #67
@schalkneethling see the screenshot column for the layout of all of the snippets. Matt will send the raw 64x64 gifs for each snippet too.

https://docs.google.com/document/d/1Fzxe-Y2ZOheJ0vFFjcQxAiofOWMWgBfjWgeG4gTtP-g/edit#heading=h.99gb7ft31sdr

[2016-06-23 17:01] chrismore opened #170 "Remotely host images on CDN for onboarding add-on to reduce weight of add-on"
Pro: smaller add-on
Cons: Potential latency when displaying images

[2016-06-23 17:51] ternstyles commented on #67
Utilities snippets:
https://www.dropbox.com/s/9f3m2h0nclabjla/utility_snippets_64x64px.zip?dl=0

Values snippets:
https://www.dropbox.com/s/ioz8ufkcxq5wxxq/values_snippets_64x64px.zip?dl=0

[2016-06-23 18:03] chrismore commented on #33
@schalkneethling I pulled down master and ran it locally and I don't see -moz or -fx added to the end of the utm_campaign. I'll drop a screenshot.

[2016-06-23 18:04] chrismore commented on #33
![screen shot 2016-06-23 at 11 01 46 am](https://cloud.githubusercontent.com/assets/751491/16314336/2920f2ca-3932-11e6-9461-5aaf644b99e1.png)

[2016-06-23 18:15] bniolet1 commented on #135
let's make the copy this:

Title: Welcome Aboard!
Body: Firefox has something special for you.

[2016-06-23 18:36] chrismore commented on #92
@schalkneethling Those are the right conditions, but there is also a 3rd one.

1) If a user clicks the "No thanks" link on the /firstrun quesiton modal

2) 2 weeks after content 6 sticker offer regardless if they have taken in

3) After 3 weeks of not using the Add-on

These 3 conditions ensures that the add-on doesn't stick around in the chrome and the ActionButton is gone forever all users event

[2016-06-23 18:44] chrismore commented on #68
New layout is also in #67

[2016-06-23 20:19] chrismore commented on #62
![reward](https://cloud.githubusercontent.com/assets/751491/16318678/09fe80ca-3945-11e6-8332-7d7a8d29585e.png)

![confirmation](https://cloud.githubusercontent.com/assets/751491/16318684/0e917ed0-3945-11e6-8d95-7d1d0a560e1b.png)

Screenshots for the reward sidebar.

Copy: https://docs.google.com/document/d/1Fzxe-Y2ZOheJ0vFFjcQxAiofOWMWgBfjWgeG4gTtP-g/edit#heading=h.abe9k69byvek

[2016-06-24 10:40] schalkneethling commented on #33
@chrismore You need to right click and select "Edit as HTML" to see the result. Not sure why, perhaps a bug in devtools.

[2016-06-24 10:45] #132 closed

[2016-06-24 13:38] bniolet1 commented on #33
I did the same and I also don't see the ammended parameters. Screen attached.
![screen shot 2016-06-24 at 9 36 51 am](https://cloud.githubusercontent.com/assets/14222130/16339203/65b4300e-39ef-11e6-8e07-5d897c253f40.png)

[2016-06-24 13:39] schalkneethling commented on #132
I believe this is resolved @chrismore - please confirm using the latest master. Thanks!

[2016-06-24 13:41] schalkneethling commented on #33
Hmmm, ok. Let me take a look.

[2016-06-24 14:49] schalkneethling commented on #33
I just tested this locally, and here is what I see:

![screen shot 2016-06-24 at 16 45 48](https://cloud.githubusercontent.com/assets/10350960/16341065/91cbcbde-3a2b-11e6-9339-000ef0f88d0e.png)

@bniolet1 ^^

[2016-06-24 14:51] bniolet1 commented on #33
re-testing.

[2016-06-24 15:24] chrismore commented on #132
@schalkneethling works now!!

[2016-06-24 16:18] #135 closed

[2016-06-24 22:16] #137 closed

[2016-06-27 15:04] FrancescoSTL commented on #158
Blocked by #159

[2016-06-27 15:10] FrancescoSTL commented on #93
@chrismore @bniolet1 Is the new copy noted somewhere?

[2016-06-27 15:16] FrancescoSTL commented on #90
Current experience: <img width="1631" alt="user data example" src="https://cloud.githubusercontent.com/assets/9794516/16384841/5f0bea06-3c3f-11e6-8872-23dcfc8bc67d.png">

[2016-06-27 15:23] ternstyles commented on #90
I am going to take a look at refining this a bit today. Don't think there is much need for any major changes, just some spacing here and there.

[2016-06-27 15:29] schalkneethling opened #175 "Fixes for new firstrun layout"
There are some DOM changes that causes the current firstrun experience to break when run against the new /firstrun. It is a simple change though, so quick fix.

[2016-06-27 15:38] FrancescoSTL commented on #52
@schalkneethling I'm thinking it might be worth pushing back to milestone v1, as it isn't necessary we complete it for this sprint. If it only takes a few min, we might want to keep it, though. Thoughts?

[2016-06-27 15:49] #46 closed

[2016-06-27 15:54] FrancescoSTL commented on #85
Fixed in #167

[2016-06-27 15:54] #85 closed

[2016-06-27 15:56] schalkneethling commented on #52
@FrancescoSTL This is pretty quick and simple. I will hook it up tomorrow.

[2016-06-27 15:59] schalkneethling commented on #33
@chrismore @bniolet1 Do we have any updates on this one?

[2016-06-27 15:59] FrancescoSTL commented on #175
Fixed in #176

[2016-06-27 15:59] #175 closed

[2016-06-27 16:00] FrancescoSTL commented on #52
@schalkneethling cool, thanks 😄

[2016-06-27 16:04] bniolet1 commented on #33
From what I can tell, @chrismore was able to successfully subscribe an email address through the addon.

Now that the addon first run is working again, I'm about to test again. Will advise shortly.

[2016-06-27 16:10] FrancescoSTL commented on #138
Donezo

[2016-06-27 16:10] #138 closed

[2016-06-27 16:58] chrismore opened #178 "Build interstitial sticker form iframe page"
What does everyone think about having the sidebar iframe for the sticker to be a Mozilla-hosted page like www.mozilla.org/firefox/onboarding-reward/. Then when we want the launch the reward we can 301 redirect the www.mozilla.org page to ThinkSmart's servers and we don't have to touch the add-on iframe URL. Then when we want to pull down the form, we just remove the 301 redirect on www.mozilla.org

[2016-06-27 17:02] FrancescoSTL commented on #157
Will be easier once we can get the iframe hosted on mozilla.org (see #178), as we can simply change the iframe message once the offer is complete.

[2016-06-27 17:08] schalkneethling commented on #178
@chrismore That can work. Perhaps just fly this by Jen Bertsch and pmac so they are aware. So, that will be a full blown page, I take it, not just a 320px by ...

Does that still need to be designed or, are we going to use an existing style like https://www.mozilla.org/en-US/about/ or https://www.mozilla.org/en-US/teach/smarton/

[2016-06-27 17:12] chrismore commented on #178
@schalkneethling there is no design needed for the www.mozilla.org page since it will just be embedded in the sidebar. It will be the most basic HTML page with no header/footer and a white background.

[2016-06-27 17:17] schalkneethling commented on #178
![screen shot 2016-06-27 at 16 19 38](https://cloud.githubusercontent.com/assets/10350960/16388903/aa63e16e-3c9b-11e6-8b01-d44056215e08.png)

So the page on mozorg will host the form i.e. from the first name input field up to and including the button but, the copy above the first input field and the small print will still live in the sidebar. Correct?

[2016-06-27 17:21] #62 closed

[2016-06-27 17:22] FrancescoSTL commented on #178
@chrismore can you add a milestone onto this?

[2016-06-27 17:23] chrismore commented on #178
@FrancescoSTL done

[2016-06-27 17:26] FrancescoSTL commented on #74
@schalkneethling did we ever come to a conclusion as to why the values headers load slowly? I'll ping Matt about the values headers

[2016-06-27 17:31] schalkneethling commented on #178
Seeing I have bedrock already up and running locally, I will take this one. Will have a quick chat with Alex in the morning and get this onto mozorg.

[2016-06-27 17:31] FrancescoSTL commented on #178
Thanks @schalkneethling!

[2016-06-27 17:32] schalkneethling commented on #74
@FrancescoSTL I know Matt has looked at this some, but last I heard there has been no resolution. Would be best to have a chat to him and see where we are at. Thanks!

[2016-06-27 17:43] FrancescoSTL commented on #133
merged

[2016-06-27 18:11] chrismore commented on #178
@schalkneethling @FrancescoSTL Talked to Lonnen and Jen Bertsch and they recommended going with heroku. Lonnen can set it up after we have a heroku project created and a stand-alone repo for these remote files.

So first, I created this report to host these static remote files:

https://github.com/mozilla/all-aboard-remote

For the hostname of this heroku project. We can do firefox-onboarding.hero

[2016-06-27 18:13] chrismore commented on #178
Jen had a good point about www.mozilla.org. They have tried hard to de-clutter the site of pages that aren't part of bedrock and this onboarding experience isn't really part of www.mozilla.org. So, hosting it somewhere else is better and heroku is a better fit. For a max of 100k users hitting this URL over a few months, there's enough 9's on heroku to handle it. Plus, then it is easier to just pus

[2016-06-27 18:26] chrismore commented on #33
Testing this out again now

[2016-06-27 18:26] chrismore commented on #33
The -fx track seems to work fine with my testing.

[2016-06-27 18:36] chrismore commented on #33
@schalkneethling ok, it looks like you need to append -fx or -moz to both the iframe src campaign parameter AND the data-src URL.

[2016-06-27 18:39] schalkneethling commented on #178
@chrismore Sounds good to me. I was thinking we might not want things like this living in bedrock anymore. There has indeed been a lot of cleanup happening so, I second going with Heroku here.

[2016-06-27 18:42] chrismore commented on #178
Yeah, we don't want to make bedrock messy again :) +1 Heroku

[2016-06-27 18:43] chrismore commented on #178
@schalkneethling ping lonnen on IRC for everything. I've already got him up to speed and can respond quickly to helping us get the app ready.

[2016-06-27 18:47] schalkneethling commented on #178
Pull request for the above: https://github.com/mozilla/all-aboard-remote/pull/2

[2016-06-27 20:11] fabiorios opened #179 "Sidebar auto-closing too quickly"
Feels like 5 seconds before it closes? @chrismore do you think 2 minutes to auto-close is good?

[2016-06-27 20:42] chrismore commented on #157
yeah, I think if we handle this on the heroku page, it will be easier since we can control it on the web instead of the add-on.

[2016-06-27 21:05] chrismore commented on #179
@fabiorios here's the timer settings:

#137

2 minutes after CTA clicking OR 5 minutes without clicking anything.

Should not be 5 seconds unless you have something in your config to set it to 5 seconds.

[2016-06-27 21:13] chrismore commented on #179
I just checked and the 5 minute auto close without clicking the CTA works as designed. Checking the 2 minute after CTA clicked.

[2016-06-27 21:14] chrismore commented on #179
Checked the auto close after 2 minutes with clicking the CTA and it works too.

[2016-06-27 21:15] chrismore commented on #179
@fabiorios are you using the latest master? It looks like the XPI was built 5 hours ago, so that should be the latest too.

[2016-06-27 21:16] fabiorios commented on #179
Hmm? I'll try to replicate on another machine.

*Fabio Rios* | Firefox Product Marketing | frios@mozilla.com | IRC: frios

On Mon, Jun 27, 2016 at 2:14 PM, Chris More <notifications@github.com>
wrote:

[2016-06-27 21:16] FrancescoSTL commented on #179
Ah.. Sorry @fabiorios, I didn't catch that the autoclose is set in the config file. That change happened while I was gone ;). Check the `"afterInteractionCloseTime"` and `"defaultSidebarCloseTime"` settings in your config.json

[2016-06-27 22:52] FrancescoSTL commented on #74
Per my convo with @ternstyles, sounds like he will attempt to record a gif of the current gif, in the way that he recorded a gif of the utility header videos. This is a pretty hacky solution, but I think it will work.

[2016-06-27 23:30] chrismore opened #181 "Refreshing /firstrun/ after answering the questions presents the questions again"
Steps to re-produce:

1) Load first run with the add-on
2) Answer the two questions
3) Click Go
4) View the FxA form
5) Click refresh

Expected results:

Refresh the FxA form

Actual results:

Shows the questions again with the answers not selected.

[2016-06-28 01:59] ternstyles commented on #90
My recommendation for the import data side bar. This section can get heavy fast with all the info coming at you, especially with unpredictable link lengths. I think if we limit links to a single line we can keep things cleaner and easier to digest content wise.
![user data](https://cloud.githubusercontent.com/assets/20114656/16401420/59cfe1aa-3cb2-11e6-88e0-bc2c3ee6b0c3.png)

[2016-06-28 11:06] schalkneethling commented on #52
Done, latest XPI is now build on merges to master.

![screen shot 2016-06-28 at 13 05 47](https://cloud.githubusercontent.com/assets/10350960/16413230/0c9d89bc-3d31-11e6-812f-acbf796f036c.png)

[2016-06-28 11:06] #52 closed

[2016-06-28 14:38] ternstyles commented on #74
I've had some success bringing down the file size for the first 2 Values GIFs by playing with the frame rate. I can try this out on there others as well. I am still not sure why the smaller K size files were loading faster than the larger K size ones. Attached are the first 2, both below 1gb in size now.
![moz-content_1](https://cloud.githubusercontent.com/assets/20114656/16419610/60dfe066-3d1c-11

[2016-06-28 16:14] schalkneethling commented on #52
This turned out to be a hell of a thing :-/ I believe I am there now, or almost. Either way, here is where the latest XPI will live:
https://github.com/mozilla/all-aboard/tree/dist

[2016-06-28 16:36] FrancescoSTL commented on #52
Is this the expected result for PR's, being that we haven't set up any tests?
<img width="789" alt="screen shot 2016-06-28 at 9 35 35 am" src="https://cloud.githubusercontent.com/assets/9794516/16424132/bfe85cb8-3d13-11e6-88ae-a2d4a671fc4e.png">

[2016-06-28 16:37] FrancescoSTL commented on #178
@schalkneethling merged the above

[2016-06-28 16:38] FrancescoSTL commented on #178
I believe we need to make a heroku app and then ping Lonnen about adding SSL. He added me to the Mozilla account, so I can make the app if needed @schalkneethling

[2016-06-28 17:02] chrismore commented on #127
I will drop in the top resolutions for the top 90% of resolutions for this experiment.

Target: Firefox + First Run + English + US + Windows

[2016-06-28 17:06] fabiorios commented on #90
Where does the "Get Started" button lead to?

[2016-06-28 17:08] FrancescoSTL commented on #90
@fabiorios currently, about:home

[2016-06-28 17:10] chrismore commented on #127
Here's the top 90% of resolutions that we need to consider to keep the sidebar from horizontal scrolling

1. 1366x768
(25.23%)

2. 1920x1080
(19.98%)

3. 1600x900
(9.45%)

4. 1280x1024
(7.42%)

5. 1536x864
(5.83%)

6. 1024x768
(4.63%)

7. 1440x900
(4.61%)

8. 1680x1050
(3.75%)

9. 1280x720
(3.64%)

10. 1280x800
(2.36%)

11. 1920x1200
(1.68%)

12. 800x600
(1.30%)

[2016-06-28 17:10] chrismore commented on #127
@schalkneethling @FrancescoSTL Here's the resolutions.

[2016-06-28 17:11] chrismore commented on #127
The percentages represent the percentage of all users who will see the experiment.

[2016-06-28 17:11] chrismore commented on #127
We can probably drop 800x600 support as it is 1.3%

[2016-06-28 17:12] chrismore commented on #127
We need to make the sidebar work at a screen resolution of 768 pixels and remember that is not viewport size.

[2016-06-28 17:13] chrismore commented on #127
I will find out the viewport size for 768 resolution screens with Firefox's chrome size *if* Firefox is maximized.

[2016-06-28 17:14] FrancescoSTL commented on #90
So, I have thought of something that may be a bit better than a user import data sidebar. What if, instead of opening another sidebar, which seems kind of heavy with the current experience, we simply open up the new-tab page? We can run a pageMod on new-tab, just as we are doing on about:home for snippets, and add the additional copy, `"We've got your back, Firefox has already imported your prefs,

[2016-06-28 17:16] fabiorios commented on #179
I was able to replicate this on a fresh computer. Running Windows 10. Firefox 47.0.1.

Here are my steps:
- installed addon
- visited first run
- selected new user
- selected do good (applies to both)
- "no thanks" to account sign up
- x'd out of the data import panel (this panel doesn't have the issue)
- clicked lightbulb when notification appears
- panel opens and closes 5 seconds later

[2016-06-28 17:23] chrismore commented on #90
@FrancescoSTL that's not a bad idea and I think we talked about it before. We could use the add-on to add a message to about:newtab like you mentioned. It would save from having to re-create similar logic.

[2016-06-28 17:24] chrismore commented on #90
The only thing is that it only shows you your history and not bookmarks, but maybe that's not a huge issue.

[2016-06-28 17:25] FrancescoSTL commented on #90
@chrismore we already have the logic built to grab bookmark data anyway, so we could still add it. We'd need new UX mockups I suppose, but for now, maybe I just work on adding the pagemod. It is much more lean than what we're currently doing. We can iterate on this in the future and modify the page further as time goes on, if we have time.

[2016-06-28 17:27] chrismore commented on #90
@FrancescoSTL we are going to need to need to find a replace to put the "Undo browser import" button or link. Probably just a small link at the bottom.

[2016-06-28 17:29] FrancescoSTL commented on #90
@chrismore that could work. We could do it under the added copy. I'll likely add the header and body copy from the snippet. This opens up the door to do a lot more things, design-wise, in the future. Maybe we want to minimize the amount of additional stuff we'd add to the page, however, just to keep some continuity in the experience they receive on new-tab. Also, I'll need to find a way to destroy

[2016-06-28 17:30] fabiorios commented on #90
I like this. Let's them get going right away. Currently with the panel we
are requiring them to close it before they can continue.

As long as we can deliver a message that we've imported their stuff, we are
fine not to show them specifics. They are going to see it right away, and
that's most important.

The undo can be a text link at the end of the message.

*Fabio Rios* | Firefox Product Marketi

[2016-06-28 17:48] FrancescoSTL commented on #90
@ternstyles per the conversation above, anything I should keep in mind style-wise? Would it be worth mocking up a design for the new about:new-tab layout? Sorry that we changed this so quickly!

[2016-06-28 18:28] FrancescoSTL opened #189 "Build about:newtab User Data Page"
Per conversation in #90, we'd like to change show the user that we've auto imported their data by sending them to the new-tab page rather than prompting with a sidebar. This will be executed by appending the previous sidebar copy to the top of the new-tab page with pageMod, and adding an "undo import" link+copy at the bottom of the page.

Additionally, this logic will need to be destroyed after ei

[2016-06-28 18:29] chrismore commented on #189
Mockup of the modified about:newtab

![newtab-import](https://cloud.githubusercontent.com/assets/751491/16427750/9eadfd40-3d23-11e6-8d58-3bdf1fad1acc.png)

[2016-06-28 18:31] FrancescoSTL commented on #90
This thread will now be used to track progress on #189

[2016-06-28 18:40] FrancescoSTL commented on #90
Removing p1 tag so that we know this isn't a task, just for tracking.

[2016-06-28 18:41] FrancescoSTL commented on #74
Fixed in #188

[2016-06-28 18:41] FrancescoSTL commented on #92
Can be closed upon successful merge of #190

[2016-06-28 18:42] chrismore commented on #189
Logic:

[code]

[2016-06-28 18:49] chrismore commented on #189
Actually, ignore the first condition, it looks like it is possible for the default tiles to display above history in some cases.

[2016-06-28 19:33] ternstyles commented on #90
Not a big stray from what cmore posted in Slack, but here's what I am thinking for the First Run data import page. I've shown this here with only 2 rows of tiles, but I believe 3 always appear and a scroller is produced for smaller resolutions. The lower line 'Didn't want browser preferences...' would appear roughly 70px below the bottom of the last row of tiles.
![user data_first-run](https://clo

[2016-06-28 19:44] FrancescoSTL commented on #90
@ternstyles Do you know what font you were using for the mockup above?

[2016-06-28 19:50] chrismore commented on #90
@ternstyles looks great!

[2016-06-28 19:56] chrismore commented on #90
@ternstyles @FrancescoSTL looks like newtab tiles use font-family: Lucida Grande;

[2016-06-28 20:15] ternstyles commented on #90
thanks for clarifying @chrismore. I wasn't aware myself. @FrancescoSTL I've updated the mockup using Lucida Grande.
![user data first run](https://cloud.githubusercontent.com/assets/20114656/16430794/75455aac-3d4b-11e6-9740-300a2ce2fb0a.png)

[2016-06-28 21:25] fabiorios opened #191 "Edit "Explore other themes" link below buttons on content 3 on utility track"
Since we are teasing users with themes, we want to make sure they have a variety to pick from. Let's add a link to https://addons.mozilla.org/en-US/firefox/themes/ that allows them to explore further.

Mockups to follow.

[2016-06-28 22:54] FrancescoSTL commented on #191
Is this different from #164?

<img width="1286" alt="screen shot 2016-06-28 at 3 54 49 pm" src="https://cloud.githubusercontent.com/assets/9794516/16435135/a93036d2-3d48-11e6-955b-27fc4919fd25.png">

[2016-06-28 23:07] fabiorios commented on #191
Per slack chat today, this is looking too busy. Let's cut out one of the themes. We may need to move the "reset..." and "explore...." up a bit after we remove it.

[2016-06-29 00:05] FrancescoSTL commented on #125
Can close on merge of #193

[2016-06-29 00:14] FrancescoSTL commented on #66
Can close on merge of #194

[2016-06-29 04:02] chrismore commented on #127
Firefox's browser chrome is 80 pixels high. So, 768 - 80 = 688 viewport size.

[2016-06-29 04:15] chrismore commented on #127
Looks like the utility path fits except for the themes, but we can file an issue to remove a theme button.

![screen shot 2016-06-28 at 9 10 45 pm](https://cloud.githubusercontent.com/assets/751491/16440293/5e2fb888-3d75-11e6-97e1-5abc9a6b4ba5.png)

![screen shot 2016-06-28 at 9 11 20 pm](https://cloud.githubusercontent.com/assets/751491/16440295/63cecc70-3d75-11e6-8bf7-32098eeb845b.png)

![screen

[2016-06-29 04:19] chrismore opened #195 "Reduce theme buttons on content 3 on the utility track"
The sidebar is too tall and vertically scrolls.

![screen shot 2016-06-28 at 9 12 19 pm](https://cloud.githubusercontent.com/assets/751491/16440311/9eff270e-3d75-11e6-9bd0-77d172ea9ed5.png)

The easiest thing to do is just remove a theme button.

Remove snow fox.

[2016-06-29 04:20] chrismore commented on #127
Filed issue #195 to remove a theme button and it may barely fit.

[2016-06-29 04:31] chrismore commented on #127
The values side is not looking good for being able to fit. Basically, anytime we have an additional follow up, we run out of vertical room.

![screen shot 2016-06-28 at 9 22 53 pm](https://cloud.githubusercontent.com/assets/751491/16440525/8e71b97c-3d77-11e6-91c9-85ca9c818182.png)

![screen shot 2016-06-28 at 9 23 31 pm](https://cloud.githubusercontent.com/assets/751491/16440527/92b40468-3d77-11e6

[2016-06-29 04:37] chrismore commented on #127
What does everyone think about:

1) Remove the private browsing mode copy and button on content 3 on values

2) Remove the link to the smarton page on content 4 on values

3) Remove most of the padding after the question and the bullets on values to shift the questions up

4) Reduce the padding above the tokens by 50%

[2016-06-29 04:40] FrancescoSTL commented on #127
@chrismore would each of those options provide a solution individually, or cumulatively?

[2016-06-29 04:41] chrismore commented on #179
I actually saw something like this today, but it seemed to be on the 5th sidebar only. I am trying to replicate.

[2016-06-29 04:44] chrismore commented on #179
@fabiorios I tried the steps above and it doesn't happen to me. I wonder if this is a Windows issue and since we are launching on Windows, we need to do more testing on Windows.

@schalkneethling Are you able to test this on a Windows machine?

[2016-06-29 04:50] chrismore commented on #127
@FrancescoSTL cumulatively -- all of those together should make the values track barely fit and the utility track will have some additional space.

True, we could just make the header image smaller, but I don't think that alone will make this work without losing the visual impact of the header images.

[2016-06-29 04:55] chrismore commented on #74
@FrancescoSTL @ternstyles I think I have an idea about why the heard and lock images still have an issue loading. They are the only images on values that are not gifs that repeat. The rest of the gifs loop back to the first frame and these don't and almost always have issues loading. Should we try making these gifs repeat and see if the issue goes away? They are still not loading right and it look

[2016-06-29 04:57] chrismore commented on #9
As noted in issue #195 , we're removing snow fox to save space.

[2016-06-29 09:27] schalkneethling commented on #74
I agree @chrismore Those are definitely still problematic.

[2016-06-29 09:29] schalkneethling commented on #179
@chrismore Will take a look

[2016-06-29 10:47] schalkneethling opened #197 "Labels for what matters question mismatched"
Now that the "what matters" questions are rotated we have a bug, where the `for` attribute of the label is not being updated to reflect the `input` element it wraps.

[2016-06-29 10:55] schalkneethling commented on #33
@chrismore pr to complete this - https://github.com/mozilla/all-aboard/pull/198

[2016-06-29 10:56] schalkneethling commented on #147
Are we aware of any links that current does not have the required parameters?

[2016-06-29 14:12] ternstyles commented on #74
Let me know if you notice a difference with these updated GIFs below. I've played with the frame rate and also ensure that they are forever looping. All K size are below 120kb (much lower than the first two)

![moz-content_3](https://cloud.githubusercontent.com/assets/20114656/16455283/b993ccca-3de1-11e6-869c-1277e95f2a81.gif)
![moz-content_4](https://cloud.githubusercontent.com/assets/20114656/16

[2016-06-29 14:25] schalkneethling commented on #178
pull request that switches to iframe - https://github.com/mozilla/all-aboard/pull/200

[2016-06-29 15:17] FrancescoSTL commented on #33
Fixed in #198

[2016-06-29 15:17] #33 closed

[2016-06-29 15:17] FrancescoSTL commented on #197
Fixed in #199

[2016-06-29 15:17] #197 closed

[2016-06-29 15:18] FrancescoSTL commented on #92
Fixed in #190

[2016-06-29 15:18] #92 closed

[2016-06-29 15:18] FrancescoSTL commented on #178
Fixed in #200

[2016-06-29 15:18] #178 closed

[2016-06-29 15:19] chrismore commented on #189
@FrancescoSTL the undo functionality has landed, it won't be functional on our test builds, but we need to figure out how to call it from the undo link at the bottom of about:newtab.

Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1271799

[2016-06-29 15:20] FrancescoSTL opened #201 "Enhance CSS on Heroku Sticker Iframe"
I'm thinking we should add some padding, extra styling to the iframe we are currently hosting on heroku. Here's the current experience:
<img width="289" alt="screen shot 2016-06-29 at 8 12 51 am" src="https://cloud.githubusercontent.com/assets/9794516/16457962/3bcd0fae-3dd2-11e6-9041-bf4f09b623c6.png">

[2016-06-29 15:22] FrancescoSTL commented on #189
Thanks, @chrismore, I'll implement that in the current PR.

[2016-06-29 15:27] schalkneethling opened #202 "Remove import data sidebar, and related assets"
It is now a done deal that we are going with auto import so, we need to remove everything related to the import data sidebar, clean up the code and hookup the auto import sidebar.

[2016-06-29 15:30] fabiorios commented on #127
@chrismore we should try and keep the secondary CTAs - private browsing and smarton. (only because we spent so much time on it ;)

The orphaned words are taking up too much space. If we modify the text slightly we can save <br>. Combined with padding, we should be fine. Maybe a quick screen share session with @FrancescoSTL and we can fix today?

Here's an example:

![noorphans](https://cloud.githu

[2016-06-29 15:56] chrismore commented on #127
@fabiorios we have spent lots of time on the questions and answers and very little time on the follow ups. Actually, Eric never really was a fan of the follow ups on the values side and it is asking for quite a bit to answer a question and then perform some other action. Even though, I am a fan of these specific follow ups, we are out of space and we have to make a decision about what is more impo

[2016-06-29 16:07] fabiorios commented on #127
@chrismore true, most important is to not change the question copy.

Now that you've said that about the follow-up ctas, I'm changing my vote to remove them. I see it. Value is delivered with the questions, not the follow-up. I'm good with you proposal:

1) Remove the private browsing mode copy and button on content 3 on values
2) Remove the link to the smarton page on content 4 on values
3) Remov

[2016-06-29 16:08] FrancescoSTL commented on #202
Probably need to do this as a P1 being that it we have to remove manual import sidebar for user testing.

[2016-06-29 16:09] FrancescoSTL commented on #191
@chrismore can you add a priority and milestone to this one?

[2016-06-29 16:12] chrismore commented on #127
@FrancescoSTL are you taking this one? I can sit next to you when you are making these changes since there are a lot of comments above. Once we the PR, we can drop an image in there for @ternstyles to review.

[2016-06-29 16:12] chrismore commented on #191
done with tagging

[2016-06-29 16:12] FrancescoSTL commented on #127
@chrismore I can take this today.

[2016-06-29 16:13] FrancescoSTL commented on #74
@ternstyles thanks for the updated images. I'll create a new PR for them.

[2016-06-29 16:15] FrancescoSTL commented on #201
Actually, that doesn't make sense as the iframe will be hosted by a 3rd party. Too many early mornings for me this week ;)

[2016-06-29 16:15] #201 closed

[2016-06-29 16:21] FrancescoSTL commented on #74
@ternstyles these don't seem to be giving the same issues atm. Can you re-make them in the same way you did the first two? I am 90% sure this will fix our issue, as the file will be created in the exact same way our utility headers were.

[2016-06-29 16:25] ternstyles commented on #74
@FrancescoSTL the above 3 are created the same way as the first 2. They have the same frame rate, forever looping, and same physical 2x dimensions.

[2016-06-29 16:26] FrancescoSTL commented on #74
I'm stumped. @chrismore + @schalkneethling  seems as though our problem persists.

[2016-06-29 16:28] chrismore commented on #133
Got some feedback on the sentence and need to have it updated.

Old sentence:

Help us setup your browser and Firefox will set you free on the Web

New sentence:

Your Web, your way. Help us set up Firefox just the way you want it.

@FrancescoSTL ping

[2016-06-29 16:33] FrancescoSTL commented on #133
@chrismore your wish is my command. Merged in #203

[2016-06-29 16:33] #133 closed

[2016-06-29 16:46] fabiorios commented on #63
@schalkneethling here are the three. We'll hyperlink the entire line.

Thanks for sticking with Firefox!

Browse Free or Die! Get yours!

Have you claimed your gift?

[2016-06-29 16:48] FrancescoSTL commented on #179
@schalkneethling If you click the action button multiple times, multiple timers start, and when you open the sidebar again, those timers aren't thrown away so the sidebar ends up closing. Same thing happens when you complete a CTA multiple times.

[2016-06-29 16:56] bniolet1 commented on #191
We need to tag this url with the correct utm parameters.

Per: https://github.com/mozilla/all-aboard/issues/147

[2016-06-29 17:02] #66 closed

[2016-06-29 17:11] bniolet1 commented on #191
So the final link should be:

https://addons.mozilla.org/firefox/themes/?utm_source=fxonboarding&utm_medium=referral&utm_campaign=onboardingv1

[2016-06-29 17:12] FrancescoSTL commented on #189
Merged in #192!

[2016-06-29 17:23] FrancescoSTL opened #204 "Update auto import "undo" logic"
We need to:
**(done)** 1. display the footer content only when `canUndo` (ref: https://bugzilla.mozilla.org/show_bug.cgi?id=1271799#c14) resolves as true
**(done)** 2. update the logic for calling the undo function after the `canUndo` promise resolves as true
**(done)** 3. Direct the folks who click "No Thanks" to opt out of onboarding to about:newtab rather than about:home.
4. Remove logic for ma

[2016-06-29 17:24] FrancescoSTL commented on #202
Hey @schalkneethling, I'm going to grab this as a part of #204, as I'll need to update the redirection logic anyway for "No Thanks" folks.

[2016-06-29 17:26] FrancescoSTL commented on #204
I'm also going to grab #202 as a part of this to remove all import_data logic.

[2016-06-29 18:31] fabiorios commented on #179
@FrancescoSTL for what it's worth, the first sidebar works fine. Once I close it and I get the ping for the second one, that's when it goes nuts.

It happens even when I don't click the action button.

I've ordered a Windows 7 and Windows 8 loaner, I'll try it there too.

[2016-06-29 19:00] chrismore commented on #127
@fabiorios we were able to make it all work with adjusting padding and adjusting some of the copy and all of the sidebars now fit. Screenshots coming soon.

[2016-06-29 20:58] chrismore commented on #189
@FrancescoSTL In this sentence:

https://github.com/mozilla/all-aboard/blob/master/data/tmpl/about-newtab-footer.html#L2

Change preferences to data.

Should read:

Didn't want your browser data imported? You can quickly ....

[2016-06-29 21:02] ternstyles commented on #63
Below are examples of the snippets within the setting

![reward-snippet_onscreen_v1](https://cloud.githubusercontent.com/assets/20114656/16468704/3a1ded88-3e1b-11e6-8e8b-0a581dfc8424.png)
![reward-snippet_onscreen_v2](https://cloud.githubusercontent.com/assets/20114656/16468705/3a236fec-3e1b-11e6-9f8d-4a26a23eb5d7.png)
![reward-snippet_onscreen_v3](https://cloud.githubusercontent.com/assets/201146

[2016-06-29 21:03] ternstyles commented on #63
Actual 64x64px snippet attached.

![reward_snippet_64x64](https://cloud.githubusercontent.com/assets/20114656/16468732/5497b8f6-3e1b-11e6-8628-96b03f4398e5.png)

[2016-06-29 22:27] ternstyles commented on #74
@FrancescoSTL I've attached updated Values GIFs. All are sized at 120x120px

![moz-content_1](https://cloud.githubusercontent.com/assets/20114656/16463382/988347fa-3e03-11e6-94e0-6c2e74e74bf2.gif)
![moz-content_2](https://cloud.githubusercontent.com/assets/20114656/16463384/988c1be6-3e03-11e6-9b01-2fa5768cd956.gif)
![moz-content_3](https://cloud.githubusercontent.com/assets/20114656/16463383/988a7

[2016-06-29 22:57] FrancescoSTL commented on #204
Can close when #206 merges

[2016-06-29 22:57] FrancescoSTL commented on #202
Can close when #206 merges

[2016-06-29 22:58] FrancescoSTL commented on #189
Can close when #206 merges

[2016-06-29 23:05] FrancescoSTL commented on #74
Merged in #207. @chrismore @fabiorios @ternstyles I believe this solved the problem, but I'll leave it to you all to prove me wrong ;). All is merged to master. I'll close when I get confirmation from one/all of you that this works.

[2016-06-29 23:18] chrismore commented on #74
Images work for me now! r+

[2016-06-30 03:57] chrismore opened #208 "Update Mozilla newsletter link"
Three places:

1)

https://github.com/mozilla/all-aboard/blob/master/data/tmpl/values/content5-snippet.html

old URL:

https://www.mozilla.org/?utm_source=fxonboarding&amp;utm_medium=snippet&amp;utm_campaign=onboardingv1&amp;utm_content=community#newsletter-subscribe

New URL:

https://www.mozilla.org/newsletter/mozilla/?utm_source=fxonboarding&amp;utm_medium=snippet&amp;utm_campaign=onboardingv1&

[2016-06-30 03:58] chrismore commented on #208
Currently blocked by this task:

https://tree.taiga.io/project/malexis-mozillaorg-durable-team/us/165

[2016-06-30 12:03] #204 closed

[2016-06-30 12:03] #202 closed

[2016-06-30 12:04] #189 closed

[2016-06-30 12:05] #127 closed

[2016-06-30 12:05] #74 closed

[2016-06-30 12:05] #125 closed

[2016-06-30 16:18] schalkneethling opened #209 "Add unit and functional test"
We need to ensure that all things work as expected as we change or add features. We therefore need a full suite of unit tests and functional tests(using selenium) that pull requests are run against.

[2016-06-30 16:30] schalkneethling opened #210 "Fix CircleCI integration"
Current CircleCI is hooked up and does build the XPI but, it does not push the resulting XPI anywhere. We need to complete the circle and have it pushed to a deploy branch or to AWS

[2016-06-30 18:33] chrismore opened #211 "Update about:newtab copy with history and bookmark functions"
Need to update the copy on the page saying their history and bookmarks are imported and link those words to opening the bookmarks menu and history to the awesome bar.

[2016-06-30 20:12] FrancescoSTL commented on #211
Copy/ text size under review, but PR is submitted in #212

[2016-06-30 21:03] chrismore commented on #64
@schalkneethling what's the status of this? we need to get this merged today to be able to get the P2s on Friday.

[2016-06-30 21:22] chrismore opened #213 "Update smarton url in index.js"
https://github.com/mozilla/all-aboard/blob/master/index.js#L335

It should be the exact same URL as shown here:

https://github.com/mozilla/all-aboard/blob/master/data/tmpl/values/content4.html#L43

Needs the same UTM parameters and if we can have it only in one place, that is even better.

[2016-06-30 21:41] chrismore opened #216 "Remove snow fox addon ID from index.js array"
https://github.com/mozilla/all-aboard/blob/master/index.js#L248

Remove 111387 which is snow fox that we already have deleted from the template.

[2016-06-30 21:43] FrancescoSTL commented on #216
merged in #215

[2016-06-30 21:43] #216 closed

[2016-06-30 21:44] FrancescoSTL commented on #213
Merged in #214

[2016-06-30 21:45] #213 closed

[2016-06-30 22:14] FrancescoSTL commented on #195
Done in #205

[2016-06-30 22:15] #195 closed

[2016-06-30 22:56] chrismore commented on #211
New copy:

@FrancescoSTL

All your stuff is ready!
Your favorite [bookmarks] and [website history] are already in Firefox. Boom.

[2016-06-30 23:00] chrismore commented on #211
New footer copy too:

"Didn’t want your bookmarks and history imported? You can quickly [undo the import]."

[2016-06-30 23:03] FrancescoSTL commented on #211
@chrismore done in #212

[2016-06-30 23:04] chrismore commented on #191
@bniolet1 that's the wrong medium. we need it to be firefox-browser. Anything coming from within firefox needs firefox-browser.

Full correct link for the explore add-ons:

https://addons.mozilla.org/firefox/themes/?utm_source=fxonboarding&utm_medium=firefox-browser&utm_campaign=onboardingv1

[2016-07-01 14:01] schalkneethling commented on #123
@chrismore I wonder if this is still an issue. When https://github.com/mozilla/all-aboard/pull/219 merges, the user will never again be prompted with the questions on firstrun unless they use a completely new profile. If they do however, I reckon the `distribution.id` would be reset to it's original and will not retain the value from the previous session/profile.

[2016-07-01 15:06] schalkneethling commented on #87
Here is the info:
https://developer.mozilla.org/en-US/Add-ons/SDK/Tools/jpm#jpm_sign

[2016-07-01 15:11] chrismore commented on #87
I've created an AMO account called growth-team@mozilla.com

I have generated the API keys and I will email to @schalkneethling and @FrancescoSTL.

[2016-07-01 15:14] chrismore commented on #87
@mkaply I have generated the API keys and sent them to the devs. The issue is that we are not done with the XPI completely yet. Is the signing pretty quick turn around via the jpm_sign @schalkneethling mentioned above?

[2016-07-01 15:18] mkaply commented on #87
Yes, signing is immediate.

Mike
On Jul 1, 2016 11:14 AM, "Chris More" <notifications@github.com> wrote:

[2016-07-01 15:55] FrancescoSTL commented on #89
Also, implement the UITourHelper rather than having showmenu, highlight, showbookmarks, etc: https://github.com/mozilla/all-aboard/pull/212#discussion_r69297148

[2016-07-01 16:12] chrismore commented on #87
Immediate = good. thanks!

[2016-07-01 16:27] FrancescoSTL commented on #211
Merged

[2016-07-01 16:27] #211 closed

[2016-07-01 16:27] FrancescoSTL commented on #64
Merged

[2016-07-01 16:27] #64 closed

[2016-07-01 16:27] FrancescoSTL commented on #191
Fixed in #217

[2016-07-01 16:27] #191 closed

[2016-07-01 16:42] #181 closed

[2016-07-01 16:43] #179 closed

[2016-07-01 16:53] FrancescoSTL commented on #158
This also needs to trigger a timer for 1/12 of the default time between notifications (2 hours for production)

[2016-07-01 18:18] schalkneethling opened #221 "Ensure ActionButton is added on launch if step 1 has been seen"
The add-on button is not added on start-up, which is correct for the first time the browser is launched but, if the user answered the questions and have seen at least step 1, it needs to be added at startup.

If it is not, an `allAboard is undefined` error will be thrown, rendering the add-on broken.

[2016-07-01 19:11] fabiorios opened #224 "Include sticker URL for iframe on reward side panel"
Here is the URL they plan on using.

https://mozilla.thinksmart.com/

[2016-07-01 19:17] #221 closed

[2016-07-01 19:22] schalkneethling commented on #123
@chrismore So, I was wondering about this one. It is going to be kinda tricky to check whether a specific combination of the new/existing and utility/values strings are in the distribution.id (there are essentially 4 possible combinations).

I was therefore thinking that, the default length of distribution.id will be 9 characters (mozilla86) so, if the string is longer than 9, we have already upda

[2016-07-01 19:54] chrismore commented on #123
@schalkneethling I think the >9 characters in the distribution.id, don't append values is a simple solution here that will handle it. We do append multiple values to it, we do it once after the questions. After that point, it is just updating the step at the end.

[2016-07-01 19:56] chrismore commented on #123
and the step is a regex replace, so we should be fine.

[2016-07-01 19:59] schalkneethling commented on #123
Agreed, thx @chrismore

[2016-07-01 20:23] chrismore opened #225 "Clicking light bulb notification when sidebar is open before first notification closes sidebar"
1) first run
2) answer questions
3) no thanks fxa
4) before you get the desktop notification click the light bulb icon 5
5) sidebar open

Actual results:

get notification and click the light bulb, sidebar closes.

Expected results:

It kept the sidebar open and didn't close it.

[2016-07-01 21:39] bniolet1 opened #226 "Not engaging with first content notification destroys the addon upon closing Firefox"
1. Create a fresh Firefox profile
2. Launch browser and go to about:config
3. change "xpiinstall.signature.required" setting to "false"
4. install add-on xpi from file.
5. visit first run page
6. answer questions 1 and 2
7. no thanks on account.
8. wait for the desktop notification
9. do not open the sidebar, click the lightbulb nor the desktop notification.
10. close Firefox
11. re-launch Firefox

[2016-07-01 21:44] fabiorios opened #227 "Clicking through badges loads a sidebar"
I'm currently in the privacy content (#4 of the values track)

If I click the Firefox badge it loads this URL in the address bar: resource://all-aboard/data/tmpl/values/content3.html

[2016-07-01 21:44] fabiorios commented on #227
![doubles](https://cloud.githubusercontent.com/assets/19597198/16535173/49dde8ce-3f9a-11e6-9b7d-d19ca261c577.JPG)

[2016-07-01 21:47] fabiorios opened #228 "Misspelling content #4 values track"
Bullet 2 currently reads: "Tired of seeing the same shoe add on every website."

Change "add to ad"

So it reads: "Tired of seeing the same shoe ad on every website."

[2016-07-01 21:52] bniolet1 commented on #226
The add-on lightbulb disappears on restart even if you "x" out of the desktop notification.

When you re-start the browser, there is no more lightbulb and no more content interaction, even though "all-aboard" is still listed as an add-on in your add-ons manager.

[2016-07-01 21:55] bniolet1 commented on #226
Here is my config.json:

{
    "afterInteractionCloseTime": 5000,
    "defaultSidebarInterval": 10,
    "defaultSidebarCloseTime": 7000,
    "timeElapsedFormula": 1000,
    "waitInterval": 10000
}

[2016-07-01 22:20] fabiorios opened #229 "Edit text that appears when you hover over the lightbulb"
Currently the text reads "Mozilla Firefox Onboarding"

Change to read: "1 new notification"

[2016-07-02 00:20] chrismore opened #231 "Snippets are not displaying for content 1"
Snippets are only displaying after you open content 2 sidebar and all the way through content 5 sidebar, but never for content 1.

@schalkneethling should know about this one.

[2016-07-02 00:27] #67 closed

[2016-07-02 00:37] chrismore commented on #227
@schalkneethling I am able to replicate this now and we found the pattern.

1) Answer at least through content 3 sidebar or all.

2) Ensure content 3 is answered

3) Click the heart

4) Click the Firefox icon

BOOM.

content 3 opens in the main window.

Very weird. Only pattern we can find to make this happen. Is this a @schalkneethling easter egg??

[2016-07-02 00:38] chrismore commented on #227
@schalkneethling another thing that could be related to it is when the heart icon is clicked, you can't click the sun icon.

[2016-07-02 00:40] chrismore commented on #224
This will go as a on the all-aboard-remote repo as redirect.

[2016-07-02 00:43] FrancescoSTL opened #232 "Make Iframe Dynamic"
We need to resize the iframe based upon its content size so that, in the event that we need to change iframe content (ex: thinksmart sends us their iframe and the dimensions are different then what we have accounted for) it will change without needing to change the addon.

That, or we simply ask the thinksmart people how big their iframe content will be and resize ours explicitly to match.

[2016-07-02 00:44] chrismore commented on #38
Modified about:newtab #189 instead of doing a sidebar.

[2016-07-02 00:44] #38 closed

[2016-07-02 00:50] chrismore opened #233 "Delay any desktop notification for 60 seconds after browser opens"
Per the original flow, we wanted to wait 60 seconds any time the browser is opened before displaying a notification. So, if it has been exactly 24 hours after the first sidebar is opened and Firefox is opened, the notification should happen at 24 hours and 60 seconds. This will prevent the user from being pinged immediately when they open the product when they probably had a task in mind.

[2016-07-02 00:51] #159 closed

[2016-07-02 00:51] #158 closed

[2016-07-02 00:52] chrismore commented on #93
Closed due to issue #189 no longer needed.

[2016-07-02 00:52] #93 closed

[2016-07-02 00:52] chrismore commented on #90
No sidebar due to #189

[2016-07-02 00:52] #90 closed

[2016-07-02 03:27] chrismore commented on #232
@schalkneethling need to get this resolved on Monday 2016-07-04.

[2016-07-02 03:27] chrismore commented on #231
@schalkneethling need to get this resolved on Monday 2016-07-04.

[2016-07-02 03:27] chrismore commented on #227
@schalkneethling need to get this resolved on Monday 2016-07-04.

[2016-07-02 03:27] chrismore commented on #226
@schalkneethling need to get this resolved on Monday 2016-07-04.

[2016-07-02 16:17] chrismore opened #234 "First Run Not Modified when any parameters exist after /firstrun/"
The first run page is modified when it doesn't have any parameters on the trailing slash like:

https://www.mozilla.org/en-US/firefox/47.0/firstrun/

But funnelcakes always have parameters after the / like:

https://www.mozilla.org/en-US/firefox/47.0/firstrun/?f=85
https://www.mozilla.org/en-US/firefox/47.0/firstrun/?f=86

This is a simple regex change:

https://github.com/mozilla/all-aboard/blob/

[2016-07-02 16:44] FrancescoSTL commented on #234
Merged

[2016-07-02 16:44] #234 closed

[2016-07-04 10:47] schalkneethling commented on #232
Currently the `iframe` element itself contains no with or height setting inline, and all that the CSS is doing is turning of borders and setting the width to 100% of our available width. With all of the work that was done to ensure as much of the content is "above the fold" so to speak, I would suggest we define the height (220px) and ensure that ThinkSmart stays within those parameters.

[2016-07-04 10:52] #232 closed

[2016-07-04 11:08] #231 closed

[2016-07-04 14:36] #227 closed

[2016-07-04 17:13] #226 closed

[2016-07-04 18:21] chrismore commented on #63
@schalkneethling @FrancescoSTL this snippet image needs to be 50px by 50px. Francesco did the snippet resign issue with on Friday with me and we had to make a number of adjustments to make it look similar. I would follow the same CSS and 50px max image size like the other snippets.

[2016-07-04 18:40] schalkneethling commented on #63
@chrismore will do. Thanks for the heads up.

[2016-07-04 19:05] schalkneethling commented on #63
@chrismore Looking at the snippets I am seeing that most of the snippets' action are things that *do* things, not so much *navigate* somewhere. I really do not feel leaving of the `href` from an anchor element is good practice(it also break a11y), nor do I like the value being something non valid like `#0` or something.

I would therefore propose that we use anchor element when the action navigate

[2016-07-04 19:17] chrismore commented on #63
@schalkneethling good point and that's kind of what we discussed on the sidebar strategy before. links = navigate somewhere else. buttons = change the current UI.

With the snippets, they are about half and half where some are going somewhere and others open up a UI. I think the only reason we did links is to not spend anymore time on the design/css and just needed to get something fully functiona

[2016-07-04 19:50] schalkneethling commented on #63
@chrismore Thanks for the feedback. So, you would prefer the buttons be on a new line, left aligned as apposed to inline as in the screenshot I posted in comment https://github.com/mozilla/all-aboard/issues/63#issuecomment-230342827

[2016-07-04 20:30] chrismore commented on #63
@schalkneethling yeah, because i believe that's how other buttons are on the snippet service. You only do in-line when it is a link and not, you put the button below left or center aligned. I think for these, left-aligned below the text is best. Just make sure the button is probably 25% smaller than the sidebar buttons. thanks!

[2016-07-05 13:03] #63 closed

[2016-07-05 14:37] bniolet1 opened #243 "Nightly funnelcake build presents two copies of the first run questions flow"
When running a clean install of this funelcake build with a new profile, the first run experience presents two separate copies of the first run experience.

http://archive.mozilla.org/pub/firefox/candidates/47.0.1-candidates/build1/funnelcake86/win32/en-US/firefox-47.0.2.en-US.win32.installer.exe

Both appear to function and both are present as you interact with the two questions. The doubling dis

[2016-07-05 15:22] fabiorios commented on #224
Looks like it's live. I'm told they are still working on it, but the page exists now.

[2016-07-05 16:21] chrismore commented on #243
![pasted_image_at_2016_07_05_10_57_am](https://cloud.githubusercontent.com/assets/751491/16591689/dd6ccebc-4291-11e6-8fa3-0c0991868983.png)
Happening on about:newtab too

[2016-07-05 16:22] chrismore commented on #243
I inspected the html on both pages and it is inserting the section html multiple times.

[2016-07-05 16:26] chrismore commented on #243
It looks like @FrancescoSTL has a check for newtab to not modify it more than once, but not sure why that isn't working. https://github.com/mozilla/all-aboard/blob/master/index.js#L1020

[2016-07-05 16:28] schalkneethling commented on #243
This is why I am wondering whether something is fishy with `simpleStorage` in the build :-/
On that note, @chrismore, where can I get a funnelcake build?

[2016-07-05 16:35] chrismore commented on #243
installer http://archive.mozilla.org/pub/firefox/candidates/47.0.1-candidates/build1/funnelcake86/win32/en-US/firefox-47.0.2.en-US.win32.installer.exe

[2016-07-05 16:37] fabiorios opened #244 "New sidebar is available even without notification"
I'm using the funnelcake and closing and reopening Firefox and then clicking on the bulb presents new sidebar without delay. I don't have to wait for a notification.

[2016-07-05 17:35] #228 closed

[2016-07-05 17:37] schalkneethling commented on #244
This is most likely related to https://github.com/mozilla/all-aboard/issues/243

[2016-07-05 18:39] FrancescoSTL commented on #243
Fixed in #245

[2016-07-05 18:39] #243 closed

[2016-07-05 18:39] FrancescoSTL commented on #233
Fixed in #240

[2016-07-05 18:39] #233 closed

[2016-07-05 18:42] FrancescoSTL commented on #229
Fixed in #241

[2016-07-05 18:42] #229 closed

[2016-07-05 18:52] schalkneethling commented on #244
@FrancescoSTL @chrismore can we confirm that this is now also resolved?

[2016-07-05 18:53] schalkneethling commented on #170
Which images are you thinking? As most of the images are bundled with the add-on, is there really a benefit?

[2016-07-05 19:08] chrismore commented on #244
@FrancescoSTL did you test to see if #243 resolves this?

[2016-07-05 19:38] FrancescoSTL commented on #244
This wasn't addressed in #243. I think it came about with a previous PR, not sure which one.

[2016-07-05 19:39] FrancescoSTL commented on #244
Actually, if IIRC, there was an issue with showing the notification and the badge at the same time, as some error was being thrown. @schalkneethling noted this somewhere previously. I'll attempt to find the comment

[2016-07-05 19:40] FrancescoSTL commented on #244
Either way, is this an issue? @chrismore I think we discussed previously that it would be fine to show the badge to users before the first notification, because if they are interested, there wasn't an issue with them starting the flow early.

[2016-07-05 19:43] FrancescoSTL commented on #244
Ah wait, I may have misunderstood the issue. I was unaware of this. Let me see if I can replicate

[2016-07-05 19:46] chrismore opened #246 "Use Node.js's built-in path library for relative paths"
We shouldn't assume the add-on is installed in the same place as when we are testing with jpm. There is a Firefox library that will help ensure we know the path so that we can find the config file.

[2016-07-05 19:46] FrancescoSTL commented on #244
Seems to be fixed, as I can't replicate it. I'll close and we can reopen if we see it in the future.

[2016-07-05 19:46] #244 closed

[2016-07-05 22:25] chrismore opened #247 "Remove "history" from new tab modification"
https://github.com/mozilla/all-aboard/blob/master/data/tmpl/about-newtab-header.html#L7

Existing:

<p class="import-body">Your favorite <a href="" id="bookmarks">bookmarks</a> and <a href="" id="history">website history</a> are already in Firefox. Boom.</p>

New:

<p class="import-body">Your favorite <a href="" id="bookmarks">bookmarks</a> and <a href="" id="history">websites</a> are already in F

[2016-07-05 23:08] FrancescoSTL opened #249 "Uncomment "undo import" logic"
We need to uncomment the undo-import logic for the funnelcake builds.

[2016-07-06 01:02] chrismore commented on #87
@schalkneethling can you attempt to sign the add-on with the keys I emailed you? The release engineering team asked us to get the add-on signed now while we are still in QA to speed up their process.

[2016-07-06 02:00] chrismore commented on #68
Handled in PR #248

[2016-07-06 02:02] chrismore commented on #147
Looks like we got all of them.

[2016-07-06 02:02] #147 closed

[2016-07-06 02:03] chrismore commented on #210
@schalkneethling is this needed for v1.0 or can we move this to a v2.0 milestone?

[2016-07-06 02:05] chrismore commented on #118
Not needed now that we have auto import.

[2016-07-06 02:05] #118 closed

[2016-07-06 02:06] chrismore commented on #246
Don't think this is an issue anymore after we discovered the reason the config is missing is because it is in the .gitignore of the funnelcake git repo.

[2016-07-06 02:06] #246 closed

[2016-07-06 02:09] chrismore commented on #247
Updated copy

[2016-07-06 02:09] #247 closed

[2016-07-06 16:43] chrismore opened #253 "New tab is not modified"
New tab should be modified with the header/footer message when:

* Sign up for FxA account
* Navigate away from FxA page
* Close FxA page
* Click "no thanks" at bottom of FxA page

Currently, only the last bullet appears to work and that is probably because it is what we have been testing with.

[2016-07-06 16:58] chrismore commented on #224
This should be a 301 redirect from the heroku index to https://mozilla.thinksmart.com/

[2016-07-06 17:28] fabiorios opened #254 "Funnelcake - not interacting with addon before closing FX removes the addon"
I tried multiple times, and have narrowed it down to not engaging within the sidebar. Even if I click the notification and see the sidebar, as long as I don't click anything inside the sidebar and instead just x out of it. When I reopen fx the addon is gone. If I click a button within the sidebar, it's OK upon reopen.

Windows 10, using the latest funnelcake on 7/6

New user
Do it yourself or do g

[2016-07-06 17:36] chrismore opened #255 "Distribution.id is not being set/updated when clicking "no thanks" on first run quesitons"
Distribution.id initial variations QA

* new + do good: mozilla86-values-new

* new + do it yourself: mozilla86-utility-new

* existing + do good: mozilla86-values-existing

* existing + do it yourself: mozilla86-utility-existing

* no thanks: no value (the issue itself)

When clicking no thanks, the value should be mozilla86-no-thanks.

[2016-07-06 17:36] fabiorios commented on #254
Note, the addon still appears within my extensions

[2016-07-06 17:42] FrancescoSTL commented on #254
Being that the latest funnelcake doesn't modify nonUseDestroyTimer and that this timer is set to 3 weeks, it is likely that this line might be the culprit https://github.com/mozilla/all-aboard/blob/master/index.js#L760

Although I'm not certain. There are many places that we are calling .destroy() and .dispose() functions. The one that is definitely happening here is removal of the ActionButton ic

[2016-07-06 17:45] FrancescoSTL commented on #254
Seems to be only one place that we are calling `allAboard.destroy()`, which I believe to be the reason this is happening, and that is within `destroy()`. Further leading me to believe that https://github.com/mozilla/all-aboard/blob/master/index.js#L760 might be the reason this is happening. Unless somehow `nonuseDestroyTime` is being set, it is unlikely that one of the timers fired.

[2016-07-06 17:53] FrancescoSTL commented on #67
Fixed in #248

[2016-07-06 17:53] FrancescoSTL commented on #68
Fixed in #248

[2016-07-06 17:53] #68 closed

[2016-07-06 17:58] FrancescoSTL commented on #166
Fixed in #196

[2016-07-06 17:58] #166 closed

[2016-07-06 17:58] FrancescoSTL commented on #249
Fixed in #250

[2016-07-06 17:58] #249 closed

[2016-07-06 17:59] FrancescoSTL commented on #225
@schalkneethling noted feedback in #251

[2016-07-06 18:01] fabiorios opened #256 "Funnelcake - snippets not loading, shows "null""
After installing Firefox and closing it once, if I open it the about:home page loads and there is not snippet. Instead, on the right side of the searchbar within the page, there's text that says "null".

This occurs regardless of the track and opt-in/opt-out of accounts. Also, even if I don't close Firefox and simply go to about:home and refresh, no luck.

![null](https://cloud.githubusercontent.c

[2016-07-06 18:02] FrancescoSTL commented on #256
@fabiorios fixed in #248

[2016-07-06 18:02] #256 closed

[2016-07-06 18:03] FrancescoSTL commented on #256
Thanks, though. This wasn't noted as an issue, so it would've been hard for you to know that it was already fixed 😀. Keep breaking things @fabiorios

[2016-07-06 18:23] FrancescoSTL commented on #253
This is an issue caused by the preloading of content on about:newtab, triggered by a preference (`browser.newtab.preload`) in https://dxr.mozilla.org/mozilla-central/source/browser/base/content/tabbrowser.xml#1721.

Our best bet is to have releng configs set `browser.newtab.preload` to false, and then manually set it after first load using the preferences/service sdk. @chrismore this will need to

[2016-07-06 18:25] schalkneethling commented on #255
@chrismore Oh wow, I must have missed this entirely.

[2016-07-06 18:38] fabiorios opened #257 "Funnelcake - Private browsing button on utility content #2 not working"
Loading the sidebar is fine, but when I click on the try it button, I get a stamp, but the door hanger and highlighting of the PB doesn't happen.

(fyi - I tried this on the values track and the PB text link works fine)

New user
Do it yourself
No thanks to accounts
click the bulb notification
load content 1 and try search to get a badge
close firefox
open firefox and load sidebar content 2
click

[2016-07-06 18:39] FrancescoSTL commented on #225
Fixed in #251

[2016-07-06 18:39] #225 closed

[2016-07-06 18:45] fabiorios commented on #254
I'm having no luck getting the addon to stay within the value track. Even after engaging with the sidebar content, if I close and reopen Firefox, the addon is gone from the toolbar.

In the utility track, if I engage with the sidebar content, it stays.

[2016-07-06 18:54] FrancescoSTL commented on #254
@schalkneethling any idea what might be going on here?

[2016-07-06 18:57] fabiorios commented on #257
If I close and reopen Firefox, the button doesn't work
If I don't close and reopen Firefox, it works fine.
If it works fine, and then I close and reopen Firefox, and go back to the PB sidebar, it doesn't work.

[2016-07-06 19:01] FrancescoSTL commented on #255
Fixed in #252

[2016-07-06 19:01] #255 closed

[2016-07-06 19:01] schalkneethling commented on #254
So, this line:
https://github.com/mozilla/all-aboard/blob/master/index.js#L1081

Will add the icon to the chrome if the first step has been seen (no interaction required), and this line will add it, if the questions have been answered, but no sidebar has been seen:
https://github.com/mozilla/all-aboard/blob/master/index.js#L1101

[2016-07-06 19:01] FrancescoSTL commented on #123
Fixed in #252

[2016-07-06 19:01] #123 closed

[2016-07-06 19:02] schalkneethling commented on #254
Is anyone else with the funnelcake build seeing this?

[2016-07-06 19:04] fabiorios commented on #253
The header isn't showing up for me either on the first session, as cmore described. Strangely, if I close and reopen Firefox, the first time I load a newtab, the message appears.

![1](https://cloud.githubusercontent.com/assets/19597198/16630972/765d1a8e-4371-11e6-9b12-6cb4381eaf75.JPG)

[2016-07-06 19:06] FrancescoSTL commented on #253
@fabiorios Very strange. I'm fairly certain is has to do with caching. Something else to note in this issue is that the aboutNewtab pagemod is never destroyed, which it should be, in order to prevent the mod from ever happening again (which you currently can get it to do if you hit ctrl-shift-r at any time on the newtab page).

[2016-07-06 19:08] FrancescoSTL commented on #254
@bniolet1 confirmed this via slack earlier

[2016-07-06 19:09] FrancescoSTL commented on #254
@fabiorios if you navigate back to firstrun after the addon is "destroyed," do the questions show up? Also, if you hit ctrl-shift-r on the newtab page, do the pagemods show?

[2016-07-06 19:11] schalkneethling commented on #87
@chrismore I am getting "response: {"detail":"Signature has expired."}"

[2016-07-06 19:20] chrismore commented on #87
Talked to @mkaply and he's checking with AMO now.

[2016-07-06 19:27] bniolet1 opened #258 "Funnelcake - First run experience can be repeated even after completing it"
Steps to reproduce (no existing profile, fresh install):

1. Complete onboarding questions
2. Hit “No thanks” on accounts page, which should navigate you away from that page
3. Leave both tabs open
4. Open about:preferences and delete cache
5. Navigate back to http://mozilla.org/en-us/firefox/46.0/firstrun on an already open tab

Expected result: Firefox accounts page shown.

Actual result: First

[2016-07-06 20:10] mkaply commented on #87
@EnTeQuAk requesting your help :)

[2016-07-06 20:12] chrismore commented on #87
Should @schalkneethling do a jpm --version to make sure we know what version he is using to sign? I am currently running 1.0.7 locally.

[2016-07-06 20:22] EnTeQuAk commented on #87
Yeah, please make sure to use the latest jpm version and correct api-keys from AMO. Also make sure that your system-clock is in sync.

[2016-07-06 20:56] chrismore commented on #87
I created an account on AMO for the growth-team@mozilla.com email and went here https://addons.mozilla.org/en-US/developers/addon/api/key/ and grabbed the keys and emailed them to @schalkneethling last week.

[2016-07-06 21:09] FrancescoSTL commented on #258
@bniolet1 if you close Firefox and then reopen after going through onboarding, does it show you the golden question again? If not, this bug is not a huge priority I suppose.

[2016-07-06 21:28] FrancescoSTL commented on #253
Looks like the pagemod is being destroyed whenever the browser is closed. If I reopen, not even a ctrl-shift-r displays the header/footer content. Additionally, I've found that a simple refresh is enough to make the content load properly on the page (ctrl-r).

I'm not sure exactly what is going on here, as I'm still unable to replicate with JPM, but MattN suggested that it could be an issue with t

[2016-07-06 21:38] fabiorios commented on #254
@FrancescoSTL

Addon destroyed -> navigated to /firstrun and still got back to golden questions
Yes, hard refresh on the newtab page made the pagemods show up.

[2016-07-06 21:38] bniolet1 commented on #258
I can't confirm this because if I answer the questions and close Firefox (whether or not I have engaged with content) lightbulb is gone when I reopen Firefox.

See issue #254

[2016-07-06 21:40] bniolet1 commented on #254
Happens for me even if I engage with content on utility track.

Steps to reproduce:
New user (no profile).
Install funnelcake
answer two questions, "no thanks" past accounts page
for utility track, interact with first content. get the badge.
interact with second content. get the badge.
---with messaging pane still open, close Firefox. ---
start firefox. Lightbulb gone.

[2016-07-06 23:10] FrancescoSTL commented on #254
I wasn't able to replicate either case with the new funnelcake @bniolet1 @fabiorios. Are you sure you are wiping both profiles before running?

[2016-07-06 23:17] FrancescoSTL commented on #254
Nevermind, I was able to replicate. Trying to see if I can grab some reliable steps

[2016-07-06 23:49] FrancescoSTL commented on #254
I was able to replicate with @fabiorios's steps, except if there is a desktop notification open, I had to dismiss it before I reopened Firefox or the addon wouldn't destroy itself as noted in this bug

[2016-07-06 23:50] FrancescoSTL commented on #254
@schalkneethling I'm punching out for the evening. Seeing as this is a p1 bug, I was wondering if you could take a look tomorrow. This seems to be a big hole, and I am unsure if it is caused by simpleStorage or not

[2016-07-07 00:13] fabiorios commented on #224
Thinksmart says the form will be resized by EOD today. We should get this into the next funnelcake

[2016-07-07 00:20] chrismore commented on #208
I've updated the newsletter links. We'll keep this open until the page is live.

[2016-07-07 09:06] schalkneethling commented on #224
This is complete, no changes required to add-on

[2016-07-07 09:06] #224 closed

[2016-07-07 09:07] schalkneethling commented on #87
I am running 1.0.7 as well

[2016-07-07 09:16] schalkneethling commented on #87
Tried again, still getting the same error. Could the fact that I am trying to sign it from South Africa make a difference? (wild idea but, seeing system clock can be an issue). Perhaps it needs to be done on the same machine that downloaded the keys?

@chrismore Is there a way to regenerate the key(s) perhaps?

[2016-07-07 09:53] EnTeQuAk commented on #87
Well, then I wouldn't be able to sign it here from Germany too since our servers are in the US. But what timeserver are you using? It can still be that your system time is drifting too much.

The keys that are downloaded are only used to generate the signature on the client so a regeneration of those keys probably won't fix anything. But worth trying nonetheless maybe.

[2016-07-07 10:20] schalkneethling commented on #258
TEST 1
----------
Machine: Mac OSX
Browser: Firefox 47

1. Installed XPI built of master
2. Load /firstrun page
3. Answer questions
4. Click No thanks on FxA
5. Sent to about:newtab which shows the "migration already happened header"
6. Received first notification, engaged
7. Completed the entire process up to the sticker reward.
8. Went to about:preferences and hunted around for clear history, cl

[2016-07-07 10:26] schalkneethling commented on #258
TEST 2
----------
Machine: Max OSX
Browser: Firefox 49.0a2 (dev edition)

1. Installed XPI built of master
2. Load /firstrun page
3. Answer questions
4. Click No thanks on FxA
5. Left both tabs open
6. Went to about:preferences and deleted cache
7. Navigated back to http://mozilla.org/en-us/firefox/46.0/firstrun on an already open tab
8. No question, only FxA form visible.
9. Notification still ac

[2016-07-07 10:34] schalkneethling commented on #254
TEST 1
----------
Machine: Windows 10 (VM)
Browser: Firefox Funnelcake

1. Uninstall all versions of Firefox
2. Install funnelcake
3. Launch Firefox once install completed.
4. Launches with two tabs - what's new and about:home

Experience never starts because a user is unlikely to navigate to firstrun.

[2016-07-07 11:30] schalkneethling commented on #254
TEST 2
----------
Machine: Windows 10 (VM)
Browser: Firefox Funnelcake

1. Firefox 44.0.2 already installed
2. Install funnelcake (upgrade)
3. Launch Firefox once install completed.
4. Launches with two tabs - what's new and about:home

Experience never starts because a user is unlikely to navigate to firstrun.

[2016-07-07 11:40] schalkneethling commented on #254
TEST 3
----------
Continuing on from the above
1. Navigate explicitly to https://www.mozilla.org/en-US/firefox/47.0/firstrun/
2. Answer questions
3. Click No thanks on FxA
4. Wait for notification
5. Click notification icon
6. Did not interact with sidebar
7. Close Firefox
8. Open Firefox
9. Lightbulb icon is present

[2016-07-07 11:58] schalkneethling commented on #254
TEST 4
-----------
Machine: Windows 7 (VM)
Browser: Firefox funnelcake

1. Delete all Mozilla folders under Local and Roaming
2. Install funnelcake
3. Launch Firefox after install
4. Get import dialog (this seems wrong to me, should it not be disabled?)
5. Choose to not import anything
6. Firstrun is shown, with golden questions
7. Answer questions
8. Decline FxA
9. newtab changes not applied
10.

[2016-07-07 12:42] schalkneethling commented on #254
I am unable to replicate the above using a locally built XPI that I install into Firefox but, I have a theory on what may be the cause, and will open a pull request for this change so we can test and confirm.

[2016-07-07 15:01] bniolet1 opened #262 "Funnelcake(v5) - Undo import text is left aligned and unstyled"
Steps to reproduce:

No Firefox profile present.
Default browser = Chrome. Chrome is closed during installation / first run.
Install v5 of the funnelcake build:

https://archive.mozilla.org/pub/firefox/candidates/47.0.1-candidates/build1/funnelcake86-testing/v5/win32/en-US/firefox-47.0.1.en-US.win32.installer.exe

Answer two questions, "no thanks" past Accounts page.

Migration tool fires, but the

[2016-07-07 15:06] bniolet1 commented on #262
FYI: this bug also occurs in v4 of the funnelcake build.

Same steps to reproduce, except install this .exe:
https://archive.mozilla.org/pub/firefox/candidates/47.0.1-candidates/build1/funnelcake86-testing/v4/win32/en-US/firefox-47.0.1.en-US.win32.installer.exe

[2016-07-07 15:15] chrismore opened #263 "Clicking light bulb on 2nd notification when sidebar is open doesn't do anything"
Steps to reproduce:

* jpm latest master
* answer yup or nope
* answer do good or do it yourself
* click no thanks on fxa
* new tab opens
* wait for first notification
* click it
* sidebar opens with content 1
* leave sidebar open
* wait for 2nd notification
* click either light bulb or notification

Expected results:

* sidebar refreshes with content 2

Actual results:

* sidebar 1 content says a

[2016-07-07 15:17] FrancescoSTL commented on #262
Need to change auto import footer class to allaboard-auto-import.

Thanks @bniolet1!

[2016-07-07 15:17] chrismore commented on #263
@schalkneethling ^^

[2016-07-07 15:18] chrismore commented on #87
@schalkneethling do you want to try creating your own AMO account, going to https://addons.mozilla.org/en-US/developers/addon/api/key/, getting a new set of keys and see if that makes a difference? Probably worth a try.

[2016-07-07 15:39] fabiorios commented on #224
Form updated and ready!

[2016-07-07 15:40] schalkneethling commented on #263
I am leaning towards marking this a wontfix. Here is my reasoning. With the actual delay between notifications, the only way you can run into this is if you open the first sidebar, and then never interact with the icon again until the next notification, and still have the first sidebar open.

This will be impossible as the sidebar will auto-close after 5 minutes of no interaction (so you will have

[2016-07-07 15:58] schalkneethling commented on #87
@chrismore let me give that a go

[2016-07-07 16:25] FrancescoSTL commented on #262
Fixed in #264

[2016-07-07 16:25] #262 closed

[2016-07-07 16:29] FrancescoSTL commented on #253
We've now confirmed that this is a caching issue solved by creating a funnelcake with the `browser.newtab.preload` flag set to false by default. Next step: submit PR to flip it back on:
1. If the user loads newtab
2. If 24 hours have passed since initialization of the addon (as a fail-safe)

[2016-07-07 16:31] schalkneethling opened #265 "Create timers object"
This is simply a cleanup/improvement. It would be nicer to have an object called `durations` that holds all of our various timing variables. Easier to parse mentally and keep organized. So, instead of having just `defaultSidebarCloseTime` defined somewhere at the top, it would live inside the `durations` object so, you would do:

[code]
Small thing, but makes the code more readable and maintainabl

[2016-07-07 16:39] fabiorios commented on #254
I tried the above using v5-funnelcake and it works fine on Windows 7.
I tried the above using v5-funnelcake and **it doesn't work** on Windows 8.

[2016-07-07 17:35] fabiorios opened #266 "Funnelcake(v5) - snippet content doesn't align with side panel content"
Current result: If I see the PB sidebar and get the PB badge, the next time I load Firefox I'll get PB snippets.
Expected result: The PB sidebar and snippets should run along the same timeline.

I've replicated on W7 and W8. @bniolet can you review on W10

[2016-07-07 17:36] #40 closed

[2016-07-07 17:38] FrancescoSTL commented on #87
I was able to sign the addon in its current version. @chrismore ping me whenever you need an xpi signed!

[2016-07-07 17:39] FrancescoSTL commented on #258
Potential fix is merged and awaits testing with the next funnelcake build.

[2016-07-07 17:39] FrancescoSTL commented on #254
Potential fix is merged and awaits testing with the next funnelcake build.

[2016-07-07 17:48] bniolet1 commented on #266
I'm not seeing this on W10.

I have to manually refresh on about:home (because you can't close the browser without killing the add-on in the current build), but snippets are aligned correctly for both flows for me.

[2016-07-07 18:32] fabiorios commented on #266
OK, might be good to hold until we can properly test this one. I'm able to refresh and see the correct snippet, but not before I engage with the sidebar.

In other words, if the notification is ready, and I haven't clicked it, I'll continue to see yesterday's snippets. Even if I refresh about:home.

Once I click the notification and see the PB sidebar, I can refresh about:home and see PB snippets.

[2016-07-07 18:52] fabiorios commented on #151
@chrismore they've confirmed:

"And yes, we can certainly support CSRF tokens. We will make this update when we finalize our MSSQL code. Please stay tuned"

[2016-07-07 19:13] #253 closed

[2016-07-07 20:40] chrismore commented on #263
Going to move this to v2. This would only happen in the last 2 minutes before the 24 hour interval timer. You would have to open it up <1:59 minutes before the next notification and have it open. If it was 2:01 before, it would auto close it with 1 second to go and then the notification would trigger and clicking would re open it.

[2016-07-07 21:32] fabiorios commented on #151
Asked them to reduce form height to fit 220px (including all errors/notifications)

[2016-07-07 21:39] chrismore commented on #232
@schalkneethling may need to increase the iframe height or see if we can make the height dynamic to the contents of the child frame.

I know that the iframe on /firstrun/ on bedrock is dynamic to the size of the child iframe, but I am not sure exactly how they are doing it.

[2016-07-07 21:39] chrismore commented on #232
Asking ThinkSmart if they can deal with a 220px height with any error messages.

[2016-07-07 22:11] AbeMasresha opened #268 "Sticker iframe not tall enough to fit form and handle error messages."
Steps to Reproduce:

1.	Select “yup” for the first question "Have you used Firefox in the last 30 days?”
2.	Select "Do good" for the second question
3.	Click “Go”
4.	Click “No thanks” below the Create account form
5.	Click the notification or the addon
6.	Select your answers and click “Show Answer” for all the five questions
7.	Click “Claim your prize!”
8.	Do not fill the form and click “Send me a

[2016-07-07 22:34] fabiorios commented on #258
@FrancescoSTL this is no longer an issue for me on v7. Navigating back simply displays the accounts form.

[2016-07-07 22:35] fabiorios opened #269 "Funnelcake(v7) change link on "almost done" accounts sign up page"
@chrismore the "no thanks" link on the accounts page shouldn't open a new tab. Can load in this same tab so that the user doesn't have 3 open tabs upon launch of Firefox?

[2016-07-07 22:41] #258 closed

[2016-07-07 22:50] chrismore commented on #269
@fabiorios that's the default experience and there's nothing we can easily do about this in v1.0. The default firefox experience opens up about:home (asked and it isn't a pref to change) and /firstrun/ then redirects to about:home and anything you do on the FxA form opens up a newtab to show you your imported data. It can't use the same tab because the verification message may be there waiting.

[2016-07-08 04:30] FrancescoSTL commented on #254
@schalkneethling submitted PR for review in #270

[2016-07-08 06:45] chrismore opened #271 "Qutting Firefox with sidebar open loses tokens"
Steps to re-produce:

1) answer questions

2) receive a token from clicking a CTA

3) quit Firefox

4) re-opening Firefox

Expected results

Sidebar should be closed and my tokens should be still inside of it.

Actual results

All badges are done, but onboarding is still at the same step.

You can fix it inside the experience by:

1) Closing sidebar

2) Quit Firefox

3) Open Firefox

There is some

[2016-07-08 06:50] chrismore opened #272 "Notification is triggered 60 seconds after open up Firefox after the prize sidebar is viewed for all future sessions"
Steps to re-produce:

1) Answer questions

2) Engage with all CTAs

3) View prize sidebar

4) Quit Firefox

5) Open Firefox

6) Wait 60 seconds

Expected results:

Nothing

Actual results:

Receive notifications about prize sidebar

[2016-07-08 06:51] chrismore opened #273 "Clicking the light bulb icon when prize sidebar is open does not close it"
If you have the prize sidebar open and you try closing it with the light bulb icon, it just refreshes it, but does not close it. You physically have to click the [x] to close it.

[2016-07-08 06:54] chrismore opened #274 "Qutting Firefox with sidebar open, keeps sidebar open on next session"
Steps to re-produce:

1) Answer questions

2) Open any sidebar leave sidebar open sidebar

3) quit Firefox

4) open Firefox

Expected results:

No sidebar open

Actual results:

sidebar is still open.

I believe this is also related to issue #271

[2016-07-08 06:57] chrismore opened #275 "Clicking light bulb icon after leaving sidebar open after Firefox restarts, automatically advances you to the next content"
Steps to re-produce:

1) Answer questions

2) open first sidebar and leave open

3) don't engage with CTA

4) Quit Firefox

5) Open Firefox

6) Sidebar automatially opens

7) Click lightbulb icon, you'll advance to the next without clicking the previous CTA.

You can make it to the end this way and CTAs also stop working.

[2016-07-08 07:00] chrismore opened #276 "Clicking explore other themes on utilities content 3 opens in a new Firefox window"
If you click the "explore other themes" on content3.html on the utilities track, it open in a completely new Firefox window. This will probably likely due that it needs an intent handler (https://github.com/mozilla/all-aboard/blob/master/index.js#L416) defined for that link.

[2016-07-08 07:02] chrismore opened #277 "Navigating to another URL on the FxA form doesn't open about:newtab"
Steps to re-produce:

1) Open Firefox

2) Answer onboarding questions

3) Click Go

4) On the FxA form page, go up to the url and type in google.com and hit enter.

Expected results:

A foreground tab opens to about:newtab with the modifications loaded about auto-import

Actual results:

Website changes from first run to whatever URL or search you typed in.

[2016-07-08 07:14] chrismore commented on #87
It is an important note that whatever we call the add-on when signing it has to match what nthomas calls the folder in the funnelcake config. Currently, @FrancescoSTL has the add-on called all-aboard-dev since there is an AMO bug that if you have deleted an add-on, it is still listed, and if you try to sign a new add-on with the same name it says there is an existing add-on already listed. Since y

[2016-07-08 07:16] chrismore commented on #268
Thanks @AbeMasresha ! Let's check in with @fabiorios to see the status of the sticker form. It is currently hosted and managed by a 3rd party website.

[2016-07-08 12:55] #254 closed

[2016-07-08 12:58] schalkneethling commented on #87
Would it help if we incremented the version number when signed?

[2016-07-08 15:54] fabiorios commented on #268
@chrismore having them edit these. Thank you.

[2016-07-08 17:26] FrancescoSTL commented on #271
This seems to be tied to the method of exiting Firefox using command+q in OSx. It doesn't happen if you exit from the UI and then quit Firefox from your menu-bar. Additionally, I tested this in Windows which I was unable to replicate through normal closing of Firefox, and also through hitting alt+f4. Until we can replicate with an xpi in Windows or through closing Firefox normally in OSx, I think

[2016-07-08 17:26] FrancescoSTL commented on #274
This seems to be tied to the method of exiting Firefox using command+q in OSx. It doesn't happen if you exit from the UI and then quit Firefox from your menu-bar. Additionally, I tested this in Windows which I was unable to replicate through normal closing of Firefox, and also through hitting alt+f4. Until we can replicate with an xpi in Windows or through closing Firefox normally in OSx, I think

[2016-07-08 17:27] #274 closed

[2016-07-08 17:27] #271 closed

[2016-07-08 18:22] #275 closed

[2016-07-08 18:34] schalkneethling commented on #276
@chrismore There are a couple of other instances where this happens as well. The app badges come to mind. Should I fix all of those as well?

[2016-07-08 18:48] FrancescoSTL commented on #272
Fixed in #279

[2016-07-08 18:48] #272 closed

[2016-07-08 19:36] chrismore commented on #277
[code]

https://developer.mozilla.org/en-US/Add-ons/SDK/High-Level_APIs/tabs#Open_a_tab

[2016-07-08 19:39] chrismore commented on #268
https://github.com/mozilla/all-aboard/blob/master/data/css/all-aboard.css#L236

@FrancescoSTL change to 240px height.

[2016-07-08 20:56] FrancescoSTL commented on #277
Closed in #280

[2016-07-08 20:56] #277 closed

[2016-07-08 21:20] FrancescoSTL commented on #268
Done. Now blocked by iframe vendor folks. I'll mark this as a blocked tracking issue.

[2016-07-08 21:35] FrancescoSTL commented on #151
Blocked by thinkSmart for the CSRF token

[2016-07-08 21:40] #276 closed

[2016-07-08 22:18] FrancescoSTL commented on #273
Fixed in #282

[2016-07-08 22:18] #273 closed

[2016-07-08 23:23] chrismore opened #283 "Eliminate scroll bars from the most common resolution"
The most common resolution of users who experience the add on will be 1366x768.

We have tested it and we are getting scroll bars.

Utility

* free to play (horizontal by ~30px)
* free to roam (horizontal by ~20px)

values

* privacy (horizontal by ~60px)
* security (horizontal by ~60px)
* community (horizontal by ~50px)

Sticker

* sticker (horizontal and vertical)

[2016-07-08 23:35] chrismore commented on #283
Here's some options:

Free to play: Remove the 2nd theme button and only have 1

Free to roam: make the mobile buttons much smaller. They are kind of giant now with the size of the sidebar.

Privacy: Reduce follow up to a single line

From:

No other browser gives you so much control. Try Private Browsing.

To:

Try Private Browsing

Security: Reduce follow up to just a few words:

From:

Improve

[2016-07-08 23:39] chrismore commented on #283
We could also cut the padding around the header images in half again and that would save space everywhere.

[2016-07-08 23:44] bniolet1 commented on #283
All of the text and content changes are just fine with me @chrismore .

[2016-07-09 00:02] chrismore opened #284 "Snippets will never show up for users -- ever"
Ok, here's the deal, about:home snippet modifications will not show up for users.

Why?

Because snippet modifications are only trigger after you have received a notification. The notification updates about:home, but about:home is only loaded when you first open Firefox. The only way for a user to load about:home outside of opening up Firefox, is to click the Firefox home button thus most users wi

[2016-07-09 00:23] chrismore commented on #284
Actually, I got this to work. Hang on a minute for some testing.

[2016-07-09 01:03] chrismore commented on #283
and for the sticker, we are going to have to go 20px wider and 30px longer. That means the width is going to have to be set to something more than the 100% that it is now. The form looks to only be responsive down to 340px.

[2016-07-09 01:06] chrismore opened #285 "Windows 7 Installer default checkbox prevents auto-import from functioning"
On Windows 7, there is a checkbox in the installer to set Firefox as default. It is checked by default and thus when Firefox opens, it is default. Since Firefox is default, auto import can't import from itself and thus the migration tool opens.

More info:

https://bugzilla.mozilla.org/show_bug.cgi?id=1272776#c94

[2016-07-09 16:55] chrismore commented on #284
@schalkneethling @FrancescoSTL something to figure out this weekend. I wonder if we will just have to call modifyAboutHome(track, step) in the index main so that it is running all the time when the add-on first loads.

[2016-07-09 16:57] chrismore commented on #285
Looks like there is nothing we can do about this. Can't be unchecked for the funnelcake.

[2016-07-09 16:58] chrismore commented on #285
https://bugzilla.mozilla.org/show_bug.cgi?id=1272776#c97

[2016-07-09 16:58] #285 closed

[2016-07-09 17:27] chrismore opened #286 "If you sign up for FxA onboarding will not start until you restart Firefox"
Steps to reproduce:

1) Answer questions

2) Sign up for FxA (make up something like cmore+45444646665@mozilla.com)

3) Save settings

Expected results

Light bulb icon would have shown up and timer started

Actual results

No light bulb icon until Firefox is restart. If Firefox is kept open forever, onboarding will never start. If it was kept open for a week and then restarted, onboarding wouldn'

[2016-07-09 18:00] chrismore commented on #283
I got the following copy already already:

* Removed  "No other browser gives you so much control." on values content3.html
* Removed  Improve your security online with these and changed link to Get security tips on values content4.html
* Removed "Love the web?" from values content5.html

What's left to do:

* remove Try Cozy Fox button from utility content3.html and array in index.js (fine to kee

[2016-07-09 21:16] chrismore commented on #283
I've got this whole issue wrapped up.

Remove one theme button and reduced size of the mobile buttons.

I have one PR open https://github.com/mozilla/all-aboard/pull/288

[2016-07-10 00:54] chrismore opened #289 "It's possible to fill out the sticker form multiple times"
Fill out the sticker form, submit.

Close sidebar, re-open sidebar.

Sticker form is back.

That means users could keep filling it out and maybe even fill it out multiple times for other people.

Maybe it isn't the end of the world that people are doing marketing on our part. :)

[2016-07-10 00:54] chrismore commented on #289
@bniolet1 @fabiorios does this bother you at all?

[2016-07-10 00:57] #269 closed

[2016-07-10 01:00] chrismore commented on #257
I've tried this locally and on a Windows 10 machine and it has worked fine.

[2016-07-10 15:50] chrismore commented on #284
I found a potential solution to this, but it will require other modifications.

If I add the follow functions to line 1160 conditional from:

[code]

[code]

It only modifies about:home and displays snippets as soon as Firefox restarts and the isOnboarding is defined. The issue is with the modifyAboutHome function is modifying about:home, but you have to refresh the page instead of live modifying

[2016-07-10 16:18] chrismore commented on #283
This should all be resolved now.

[2016-07-10 16:18] #283 closed

[2016-07-10 16:42] chrismore opened #291 "Reward snippet not showing and JS error being shown"
The reward snippet is not being displayed and is consistent among both tracks.

It throws this message:

[code]

The issue is happening because this function call:

https://github.com/mozilla/all-aboard/blob/master/index.js#L805
var snippetContent = replaceSnippetCopy(track, contentURL, imageURL);

is looking in the array of SNIPPET_COPY (https://github.com/mozilla/all-aboard/blob/master/index.js#

[2016-07-10 16:43] chrismore commented on #291
@schalkneethling @FrancescoSTL found another bug and JS error

[2016-07-10 16:43] chrismore commented on #291
This one should be easy too

[2016-07-10 17:43] chrismore commented on #291
I got this.

[2016-07-10 21:46] chrismore commented on #286
I am close to figuring this one out, but I am stuck. I am trying to do something as follows modifyFirstrun() function:

`
worker.port.on("message", function(e) {
	console.log("fxa before")
	var data;
	data = JSON.parse(e.data);
	if (data.command == "signup_must_verify") {
		console.log('fxa listener after messag=' + message);
		// user has signed up or logged in to FxA
		// Start onboarding

[2016-07-10 23:11] FrancescoSTL commented on #291
Fixed in #293, thanks @chrismore!

[2016-07-10 23:11] #291 closed

[2016-07-10 23:33] FrancescoSTL commented on #286
Seems as though this won't be much of an issue, as we are still starting onboarding for the user anytime they exit the firstrun page or re-load firefox. As such, we'll close for now and reopen if we find there to be a hole in our logic.

[2016-07-10 23:33] #286 closed

[2016-07-10 23:38] FrancescoSTL commented on #284
@chrismore so if I understand this correctly, the issue is not that users will *never* see snippets, but rather, that they won't see snippets until they've opened the sidebar for that step?

[2016-07-10 23:38] FrancescoSTL commented on #284
Whoops, didn't mean to hit close

[2016-07-10 23:52] chrismore commented on #284
@FrancescoSTL no, they never ever see snippets because a user will only see about:home when Firefox loads at the start of a new browsing session and the snippet page mod only happens after a notification is triggered and since we have a 60 day delay for a notification, they won't see a about:home mod on load of Firefox.

[2016-07-11 00:00] chrismore commented on #284
It seems like the about:home page mod only works after a sidebar has been opened. I am testing this on the Windows machine again now.

[2016-07-11 00:01] FrancescoSTL commented on #284
@chrismore My brain is in debugging mode. For some reason I stopped equating about:home to the Firefox start page.. Probably because I've been starting it with firstrun for the last two weeks 😅

[2016-07-11 00:02] FrancescoSTL commented on #284
I'll have a PR for this in tonight for review!

[2016-07-11 00:05] chrismore commented on #284
yeah, start page only loads when Firefox starts thus it doesn't get modified until a sidebar is open and it was fine during testing because we were in one session and refreshing about:home. That scenario wouldn't ever happen in the real world. :)

[2016-07-11 00:09] chrismore commented on #268
I have also reduced the padding on the sidebar for the sticker, which will give the form more room. We have also asked the 3rd party vendor to make these changes to their form.

https://mozilla.thinksmart.com

1) Align the form to the top left of the page. Currently, it is vertically centered and that doesn't work for our application well.

2) The longest error message isn't able to be displayed f

[2016-07-11 00:10] chrismore commented on #268
This will not block release since the form is hosted externally and outside the add-on.

[2016-07-11 00:14] chrismore commented on #257
Tested on multiple machines and this appears to work fine.

[2016-07-11 00:14] #257 closed

[2016-07-11 02:00] FrancescoSTL opened #294 "Bookmark Highlight Content 4 Snippet Never Dismissed"
If you highlight the bookmark toolbar using the "Try it Now" button on Utility content 4, it will never be dismissed unless you close firefox and reopen.

[2016-07-11 02:02] chrismore commented on #294
https://github.com/mozilla/all-aboard/blob/master/data/tmpl/utility/content4-snippet.html

[2016-07-11 10:14] #284 closed

[2016-07-11 10:26] schalkneethling commented on #289
I am holding off on this until we here back from either @bniolet1 or @fabiorios

[2016-07-11 13:14] bniolet1 commented on #289
Hrm. I have two minds on this and they both want to know how difficult this is to fix.

Mind 1: I'm like Chris More: worst case scenario, someone figures out how to get stickers. Lots of stickers. So they get a bunch of stickers and inevitably a) give the extra stickers to someone, b) stick a ton of stickers all over their things creating a human billboard or c) tell people that Firefox will give

[2016-07-11 13:32] chrismore commented on #151
Will be handled via ThinkSmart and not the add-on.

[2016-07-11 13:34] chrismore commented on #208
I checked with Eric to see if page will be published today.

[2016-07-11 14:00] chrismore commented on #289
I'm fine with leaving this. I think we over estimated the amount of stickers being distributed and we can always shut off the form remotely if we run out.

[2016-07-11 14:00] schalkneethling commented on #289
+1

[2016-07-11 14:00] #289 closed

[2016-07-11 14:52] FrancescoSTL commented on #294
Merged

[2016-07-11 14:52] #294 closed

[2016-07-11 16:14] schalkneethling commented on #169
I reckon it would be best to do this work in a dedicated branch so we do not touch master for anything other than bug fixes. To that end, I created the following branch that is an exact match of master at this time:

https://github.com/mozilla/all-aboard/tree/all-aboard-webextension

@chrismore @FrancescoSTL Thoughts?

[2016-07-11 16:39] FrancescoSTL commented on #169
@schalkneethling +1 I think that would be wise as well. We don't want to mess up our v1.

[2016-07-11 18:42] chrismore opened #297 "Provide onboarding experience for legacy /whatsnew/ users users"
Currently, only /firstrun/ users will get onboarding and /firstrun/ only loads when there is no profile on the machine. They are either existing users on a new machine or really new users. We should do something for existing users on machines with existing profiles.

[2016-07-11 19:33] JennyDouglas commented on #208
This page is now live: https://www.mozilla.org/en-US/newsletter/mozilla/

[2016-07-11 19:33] #208 closed

[2016-07-12 17:05] FrancescoSTL opened #299 "Determine Whether E10s Will Break Anything"
In the case that e10s rolls out to existing users before our add-on self destructs, we should test the funnelcake with e10s enabled and ensure nothing blows up in our faces.

[2016-07-12 17:14] schalkneethling commented on #151
@chrismore so we can close this one correct?

[2016-07-12 17:14] schalkneethling commented on #87
This is done? @chrismore @FrancescoSTL

[2016-07-12 17:15] schalkneethling commented on #268
close for v1 launch? @chrismore

[2016-07-12 17:30] #268 closed

[2016-07-12 17:31] chrismore commented on #87
Done!

[2016-07-12 17:31] #87 closed

[2016-07-12 17:51] schalkneethling commented on #299
I believe we will be ok here when we move to web extensions but, a valid tracker.

[2016-07-12 17:53] schalkneethling commented on #169
I have started work on this and will open a PR against the new dedicated branch. Once we have this merged we should aim for feature parity with the current SDK based add-on. This should be the tracker and we open separate issues referencing this one. Thoughts @FrancescoSTL

[2016-07-12 17:58] schalkneethling commented on #209
Using web extensions we no longer have access to a specific test runner. This is ok as we will need two things now.

1. Unit testing - We can use Karma and Jasmine
2. Functional - As we need access to the chrome of the browser we probably have to look at Marionette

[2016-07-12 18:00] schalkneethling commented on #89
@FrancescoSTL I think we can close this one as we will be doing this as part of changing to web extensions. Thoughts?

[2016-07-12 18:03] FrancescoSTL commented on #89
@schalkneethling Maybe we move to tracking? We will likely still have js we can condense when we port over IMO

[2016-07-12 18:43] schalkneethling commented on #89
+1

[2016-07-13 18:16] FrancescoSTL opened #300 "Add l10n Support"
If we are shipping this globally, we will need to incorporate l10n support. Filing this as a tracking issue for the time being.

[2016-07-13 18:18] FrancescoSTL commented on #266
Likely fixed by #298

[2016-07-13 18:18] #266 closed

[2016-07-13 18:20] FrancescoSTL opened #301 "Add Accessibility Support"
We need key shortcuts to give users the ability to navigate the on-boarding flow, among other things related to accessibility.

[2016-07-13 18:22] FrancescoSTL commented on #169
@schalkneethling I think this makes the most sense. We should use this thread for tracking and general high-level strategy discussion related to the conversion.

[2016-07-13 18:26] FrancescoSTL commented on #169
Per our team discussion and reflection on the Q3 sprint, I am thinking it would be beneficial to merge an MVP web-extension which can be evaluated for QA iteratively. This will allow the rest of the team to begin finding/filing bugs earlier in the process than they were able to last sprint.

After an MVP is developed, we can implement additional features to bring the web-extension up to speed with

[2016-07-13 18:33] FrancescoSTL commented on #297
I am thinking that it is worthy having a discussion about what this experience will look like for /whatsnew/ users. I think that it is likely this cohort of users is not represented by any subset of our current test group.

If we are going to customize the experience for this cohort, we should probably also have the discussion as to whether it is worth segmenting the experience further within our

[2016-07-13 18:36] FrancescoSTL commented on #170
Are we still looking to package the image into the add-on? If we are looking for a global launch, its likely that memory will be pricey, as we'd be decreasing the install rate with every additional bit we add to the installer.

That said, making remote calls is less than ideal, but it seems that this is precedent for how add-on's are already installed on AMO. Thoughts? @chrismore @schalkneethling

[2016-07-13 18:37] FrancescoSTL commented on #151
Closing via convo w/ @chrismore on slack

[2016-07-13 18:37] #151 closed

[2016-07-13 19:01] bniolet1 opened #302 "Tie email individual email recipients to browser activity"
The main purpose of email for onboarding is to drive users to return to the browser. I would love to use Accounts data to determine if someone returned to Firefox and how long after receiving an email this occurred.

This data (we could anonymize it perhaps?) would validate whether onboarding emails really do work and how effective they are.

[2016-07-14 05:13] chrismore opened #303 "First notification will not be triggered unless user completes first CTA"
There was a problem with the logic in the add-on and it didn't handle triggering the first notification because the timer kept restarting each launch of Firefox. When testing this locally, we never noticed this because we usually keep Firefox open or if we restart, and thus resetting the timer back to the original value (instead of counting down from the previous session's time left).

This was co

[2016-07-14 06:58] schalkneethling opened #305 "Rework the flow of the add-on"
The current implementation of the flow of the add-on is problematic, hard to maintain, and error prone. I propose we step back, define a flow diagram that makes sense, is clearly explained and then implement this as a flow manager in the rewrite we are doing to web extensions.

All flow related logic should live in the `flowManager` to ensure encapsulation, ease of maintenance and unit testing.

[2016-07-14 07:04] #303 closed

[2016-07-14 07:40] schalkneethling commented on #169
That make sense to me. And yes, that is essentially what I am working on ATM.

[2016-07-14 14:53] bniolet1 opened #306 "Add more / better customization to v2 email journey"
Right now, the third email message asks users to subscribe to an ongoing email stream.

We're seeing 10 percent of those coming into the journey have already subscribed. Our email platform allows us to insert decision splits to make more custom CTAs.

For those who have already subscribed, we could ask them to subscribe to foundation, join test pilot or take some other action that is a deeper comm

[2016-07-14 21:14] FrancescoSTL opened #308 "Deal With Reward Sidebar Same as Other Sidebars"
Currently, the reward sidebar is not supported by any getSidebarProps() very well, leaving our js fairly convoluted. This may be a part of the larger architecture discussions we will be having after @schalkneethling is off of PTO next week.

[2016-07-14 21:16] FrancescoSTL commented on #305
+1,000,000 this. Debugging is a nightmare at the moment and I think we have more conditionals than we can sustain. That, combined with the fact that our backend js is stored within one 1200 line file is really muddying the waters when attempting to debug.

We will definitely need to have some architecture discussions for v2! Thanks @schalkneethling

[2016-07-14 22:57] FrancescoSTL commented on #303
Shipping #304 with users upgrading to v1.1

[2016-07-18 08:36] schalkneethling commented on #299
Nope, this is one of the reason why we should be moving to web extensions:

[2016-07-18 08:36] #299 closed

[2016-07-18 19:30] FrancescoSTL commented on #265
Something else we should consider is how to deal with timer persistence between sessions. I'm not certain that storage.local will support timers, as it seems to only support objects storing key/value pairs (https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/Storage/StorageArea/set). If we'd like to file this as a separate issue, I'm fine with that as well @schalkneethling

[2016-07-19 20:15] FrancescoSTL opened #310 "Make Sidebars Truly Responsive"
A big priority for the v2 launch will be building truly vertically-responsive sidebars based upon screen resolution. As @ternstyles has mentioned, localization will pose a problem for us unless we can address responsiveness, as some languages like German may double the copy size.

[2016-07-22 13:36] bniolet1 commented on #306
Also: the path to sign up for email requires a three step process:

1. Submit your email address
2. Learn that your email is already in the system
3. Find the email in your inbox
4. Click through the email
5. Subscribe to new email content and then click "submit"

This is a horrificly complex process for someone who just wants to subscribe to email. We need to fix.

[2016-07-22 22:03] fabiorios opened #314 "show up more on day 1"
Can we be more remarkable, more interesting on day 1? I'd like to surprise the user with something immediately to make for a more memorable first impression.

Our day 1 importing of data is a nice touch, but not memorable. Currently the most memorable thing is the golden questions, which are uncommon in other browsers. We can do more here.

[2016-07-22 22:14] fabiorios opened #315 "turn up the gamification"
Our v1 introduced individual badge rewards and a single reward at the conclusion of onboarding. I'd like to scatter the rewards and also make them unexpected. A predictable reward quickly loses its value, so it's likely our badges become less effective quickly.

Ideas:
provide a reward on day one.
offer a tangible reward before the end
provide a reward a specific day of the week
add a puzzle or mi

[2016-07-22 22:19] fabiorios opened #316 "can we skip opt-in?"
Rather then ask users which funnel they want, can we simply place them into a track of our choosing? This would significantly increase participation and reduce our high sample requirement. Additionally, it may simply day 1 and allow us to engage in a different way.

[2016-07-25 17:21] fabiorios opened #317 "feedback loop for users"
Add a link that allows users to vote "yes" "no" in order to provide feedback on the content they received. Was it helpful? Did they like it?

[2016-07-25 17:37] fabiorios opened #318 "allow users to exit onboarding"
Today, users are forced to keep the addon. They can simply stop using/engaging with it if they choose.

We should let users remove the addon with a single click. If we have a good understanding of the how many people no longer want to engage with the addon, we will be in a better position to estimate future success, black holes, etc.

Think of this as the unsubscribe rate from email.

[2016-07-26 06:00] groovenectar commented on #125
I have to ask, I may be out of the loop. From my first exposure -- What the hell kind of question is this? What is the point of asking it? There is no option for both? I had not seen this Q&A thing on first install before. Where does this question come from, and what is the point of it? I was tempted to uninstall Firefox as soon as I saw that. How is it not stupid -- or -- what exactly is it for?

[2016-07-27 17:51] bniolet1 opened #319 "test issue"
testing functionality. please ignore

[2016-07-27 17:52] #319 closed

[2016-07-28 16:01] schalkneethling opened #321 "Use flexbox for sidebars"
Less CSS, better layouts. Nough said :)

[2016-08-01 02:30] hooverelectronics commented on #316
yes

[2016-08-05 14:33] schalkneethling commented on #210
This is completed as I moved things to TravisCI and unit tests are automatically run now.

[2016-08-05 14:33] #210 closed

[2016-08-05 14:35] schalkneethling opened #323 "Auto open sidebar on first notification"
When the first notification happens, automatically open the first sidebar.

[2016-08-05 14:36] schalkneethling commented on #323
Taigo task: https://tree.taiga.io/project/jennyd-firefox-onboarding/task/146

[2016-08-08 16:37] FrancescoSTL opened #324 "Add Ability to Progress w/o Timers"
We would like the ability for users to move forward with onboarding without having to wait for 24 hours to pass between each one.

[2016-08-15 16:10] schalkneethling commented on #265
This done as part of PR https://github.com/mozilla/all-aboard/pull/325

[2016-08-15 16:10] #265 closed

[2016-08-15 16:12] schalkneethling opened #326 "Refactor add-on js to be modular"
We currently have a big old index.js

This makes future work, and maintenance a potential nightmare and also makes unit testing extremely hard. We need to move to a modular architecture using the require based functionality offered to us by the SDK.

[2016-08-15 22:56] FrancescoSTL commented on #324
Ready for review in #327

[2016-08-16 08:23] schalkneethling commented on #326
Done

[2016-08-16 08:23] #326 closed

[2016-08-16 08:23] schalkneethling commented on #323
Completed

[2016-08-16 08:23] #323 closed

[2016-08-16 22:57] FrancescoSTL opened #329 "Three Notifications Per Sidebar & Speed up first interaction"
Per https://tree.taiga.io/project/jennyd-firefox-onboarding/task/160, we'd like to give users three notifications per sidebar: "As a new user who has been previously been welcomed by Firefox, I want make sure I see my notifications when it is time to play, so I don't miss my turn to move forward in the game."

The first notification for both sidebars should be 2 hours (1/12th of current). Each sub

[2016-08-17 16:47] FrancescoSTL commented on #324
Fixed in #327

[2016-08-17 16:47] #324 closed

[2016-08-24 13:56] schalkneethling opened #332 "Refactor exports.main conditional logic"
Currently the `exports.main` function is littered with conditionals, some of which is extremely hard to parse even for the trained eye. Because of issue https://github.com/mozilla/all-aboard/issues/329 we will need yet another conditional :-/

As part of the work in that issue, I will also do the work detailed here.

[2016-08-24 14:05] schalkneethling opened #333 "Implement new content for notifications"
New content to be determined: https://tree.taiga.io/project/jennyd-firefox-onboarding/task/169

[2016-08-24 14:06] schalkneethling opened #334 "Ability to have unique notification content per sidebar"
Content to be determined: https://tree.taiga.io/project/jennyd-firefox-onboarding/task/170

[2016-08-24 14:08] schalkneethling opened #335 "Change snippet CTA to open sidebar"
Snippets currently point to external resources such as pages on mozorg etc. We want to change this to have the main CTA of each snippet open the sidebar instead.

https://tree.taiga.io/project/jennyd-firefox-onboarding/task/176

[2016-08-24 14:10] schalkneethling opened #336 "Update light bulb icon to trophy in notification and browser chrome"
Update chrome `ActionButton` to be trophy icon - https://tree.taiga.io/project/jennyd-firefox-onboarding/task/168

[2016-08-24 14:16] schalkneethling opened #337 "Implement new search content based on legal direction"
New content to be determined: https://tree.taiga.io/project/jennyd-firefox-onboarding/task/173

[2016-08-24 14:18] schalkneethling opened #338 "Implement new progression widget"
Design for new progression widget in currently in review: https://tree.taiga.io/project/jennyd-firefox-onboarding/task/153

[2016-08-29 15:00] schalkneethling commented on #329
@chrismore Couple of questions regarding the 3 notifications per sidebar.

1. The amount of time that should pass between each notification, is that going to be 8 hours? i.e. `waitInterval / 3 = 8`?
2. If on browser startup we reschedule the timer, and the amount of time that has passed since the last notification is say 7 hours and 10 minutes or 7 hours and 50 minutes, do we simply reschedule for

[2016-08-29 15:28] chrismore commented on #329
@schalkneethling

1) No, each is going to be 24 hours. Same interval, but re-start the time 2 more times if the first interval has passed without engagement with the CTA.

2) Hmmm. Both of those seem similar logic. Is your question regarding how exact it has to be?

3) yes, that's the idea. There's the first notification for any sidebar, there's 2 more chances (notifications) to engage with it, If

[2016-08-29 17:56] schalkneethling commented on #329
"No, each is going to be 24 hours. Same interval, but re-start the time 2 more times if the first interval has passed without engagement with the CTA."

Ah ok so, if 24 hours has passed but the user has not interacted with the sidebar, notify again for the same sidebar. We do this three times in total i.e. the initial notification and then 2 more.

If no interaction after this time, we give up and

[2016-08-29 18:37] fabiorios commented on #329
^ that's correct @schalkneethling

[2016-08-29 19:35] chrismore commented on #329
@schalkneethling like @fabiorios said, yes. 👍

[2016-09-01 15:13] #329 closed

[2016-09-01 15:13] #336 closed

[2016-09-01 15:14] schalkneethling commented on #334
This is a duplicate of https://github.com/mozilla/all-aboard/issues/333

[2016-09-01 15:14] #334 closed

[2016-09-01 16:09] schalkneethling opened #342 "Implement restartTimers function for browser restarts"
There are a few timers that are destroyed when the browser is closed. Currently some of these timers are restarted in different places in the code base. This is not ideal. This issue is to implement a single `restartTimers` function as part of the scheduler.

[2016-09-01 16:10] schalkneethling commented on #342
Taiga card: https://tree.taiga.io/project/jennyd-firefox-onboarding/task/195

[2016-09-01 17:14] #337 closed

[2016-09-01 17:14] #333 closed

[2016-09-07 14:31] #335 closed

[2016-09-08 14:16] schalkneethling opened #346 "Resolve bug with regards to self paced progression"
Seems that there was a bug introduced at some point that causes the self paced progression to simply reload the current step as apposed to the next. This issue is to resolve this.

[2016-09-08 14:22] #338 closed

[2016-09-09 14:23] #346 closed

[2016-09-09 14:49] #314 closed

[2016-09-09 15:57] fabiorios opened #348 "Sidebar should auto-open on new:tab and not First Run Account screen"
After submitting the on-boarding questions, the sidebar auto-opens as the Account screen is loading. This should auto-open once I reach the new:tab page otherwise we will detract from account signups.

[2016-09-15 18:39] fabiorios commented on #348
We can close this. I was working with bad timers when filed.

[2016-09-15 18:39] #348 closed

[2016-09-15 18:42] fabiorios opened #354 "Light up the tropy in sidebar, when user completes content 5"
When a user gets all the stars, the trophy should become highlighted/colored.

Currently the trophy remains greyed out once I have all stars.

![claim prize2](https://cloud.githubusercontent.com/assets/19597198/18562603/4828041c-7b39-11e6-8b71-ee209f037da7.JPG)

[2016-09-16 05:39] fabiorios opened #355 "Update onboarding questions"
Based on feedback from usertesting.com we will update the onboarding questions for v1.2.

Have you used Firefox in the last 30 days? [unchanged]
Yes _[replaces "yup"]_
No _[ replaces "nope"]_

What interests you most about Firefox? _[replaces "Are you more"]_
It's built for people and not profit _[replaces "do good"]_
Its features and capabilities _[replaces "do it yourself"]_

Answering these two

[2016-09-16 05:44] fabiorios opened #356 "Update No thanks copy"
"No thanks" copy is missing a comma. Should be:  "No, thanks"

Appears on first scene of onboarding question
Appears on First Run FxA form

[2016-09-16 15:46] chrismore commented on #355
@fabiorios "not profit" vs "non profit" ?

[2016-09-16 15:47] chrismore commented on #355
p.s. these questions get at the same basic thing we were trying to do with the previous questions, but are much less vague and confusing.

[2016-09-16 15:48] chrismore commented on #355
@schalkneethling the "it's build for people... = values and its features...  = utility.

I can probably make this change directly as it is just html copy and no logic change.

[2016-09-16 16:04] schalkneethling commented on #355
@chrismore I can get a quick PR in to do that

[2016-09-16 16:13] schalkneethling commented on #355
PR: https://github.com/mozilla/all-aboard/pull/357

[2016-09-16 16:20] fabiorios commented on #355
@chrismore let's keep as is: "...not profit".

We do a good job of saying "non-profit" later, so not worried about the "not-for-profit" vs "non-profit" distinction here.

[2016-09-16 16:23] schalkneethling commented on #355
@fabiorios makes sense to me as well in the context

[2016-09-16 16:25] chrismore commented on #355
@fabiorios sounds good

[2016-09-16 16:31] schalkneethling commented on #9
@chrismore Can we close this or, is this something we want to do?

[2016-09-16 16:32] schalkneethling commented on #157
something we want to keep around @chrismore ?

[2016-09-16 16:34] schalkneethling commented on #170
@chrismore I reckon this is something we do not actually want to do anymore. Instead we should just ensure what we bundle is as optimized as possible. Does not make to much sense to have all of these HTTP requests if we can avoid them.

[2016-09-16 16:42] fabiorios commented on #157
@schalkneethling no need to keep this one.

We've dwindled down to 0-4 submissions per day, so no need to cut anyone off. Users can keep submitting the sticker form even through launch of our next version.

We'll worry about changing/stopping the form at completion of v1.2 funnelcake (sometime in Nov/Dec 2016), only after our contract with ThinkSmart has ended.

@chrismore ^

[2016-09-16 17:32] #157 closed

[2016-09-19 12:41] #356 closed

[2016-09-19 13:12] #354 closed

[2016-09-19 15:10] fabiorios commented on #355
@schalkneethling, I believe I'm looking at the latest file, if so just two minor adjustments needed.

Change "yup / nope" to "Yes / No" (capitalize first letter)
On second question, change colon to question mark

![onboard-question-update2](https://cloud.githubusercontent.com/assets/19597198/18637106/26a5f272-7e40-11e6-9c21-8b42d34444ea.JPG)

[2016-09-19 16:16] chrismore opened #361 "Create new XPI product name"
We have to upload the XPI to addons.mozilla.org and if we don't create a new product name, users on v1.0 and v1.1 will update to v1.2 and that could be a weird experience.

https://github.com/mozilla/all-aboard/blob/master/package.json#L3

From:

"name": "all-aboard-v1",
"version": "1.1.0",

To:

"name": "all-aboard-v1-2",
"version": "1.2.0",

[2016-09-19 16:28] #361 closed

[2016-09-19 16:35] #355 closed

[2016-09-19 16:43] chrismore commented on #355
Looks good now

[2016-09-19 16:44] fabiorios opened #364 "Snippet button misaligned on two snippets"
Content #1 values track: move button below snippet
Content #3 utility track: move button below snippet

@schalkneethling using jpm, I can't progress the utility track snippets to confirm if any of the other content pieces are misaligned. I was able to progress the values track by clearing my cache.

[2016-09-19 16:46] schalkneethling commented on #364
Will take a look at this.

[2016-09-19 16:47] schalkneethling opened #365 "Make next links bold"
Ensure that the links to the next step for self paced progression are bold.

[2016-09-19 17:11] chrismore opened #366 "Update Fx version in package.json"
https://github.com/mozilla/all-aboard/blob/all-aboard-1-5/package.json#L16

Should we change it to >49.0 and remove the note about Fennec? This is *not* compatible for Android as the json currently suggestions.

[2016-09-19 17:34] #366 closed

[2016-09-19 19:29] fabiorios opened #369 "Adjust spacing above and below stars to match mockup"
Currently the stars are right up against the blue button.

Also, the follow up text is too far below the stars. In Matt's mockup the stars and follow-up copy were designed as a group.

![add space above stars](https://cloud.githubusercontent.com/assets/19597198/18645679/09ad0804-7e63-11e6-95a3-89ee5bbc9239.JPG)

Match mockup below:
Increase spacing above the stars
Reduce spacing below the stars to

[2016-09-19 20:40] chrismore opened #370 "Change auto migration undo check"
The previous logic to determine if we should modify about:newtab was:

try {
   Cu.import('resource:///modules/AutoMigrate.jsm');
   var canUndoPromise = AutoMigrate.canUndo();
}
catch (e) {
  console.error('Unable to access automigrate.jsm' + e);
}

Code here:

https://github.com/mozilla/all-aboard/blob/all-aboard-1-5/lib/content-scripts/newtab.js#L44

Per this comment:

https://bugzilla.mozilla.

[2016-09-20 08:31] #370 closed

[2016-09-20 08:45] schalkneethling commented on #364
This has been resolved. @fabiorios for the utility track, remember that the copy for all of the steps are the same so, the only way to confirm that the content is progressing is to click on the 'Check it out' button for each new step.

[2016-09-20 08:45] #364 closed

[2016-09-20 08:54] #365 closed

[2016-09-20 09:12] #369 closed

[2016-09-20 15:39] bniolet1 opened #375 "Notification and chrome icon not clickable"
When the notification fires, clicking it does not open the sidebar. Likewise, clicking the trophy icon in the chrome does not open the sidebar.

Steps to reproduce:

1. Windows 10
2. Delete all Firefox profiles. Uninstall Firefox. [Download and run f88](https://archive.mozilla.org/pub/firefox/candidates/49.0-candidates/build4/funnelcake88-testing/v3/win32/en-US/Firefox%20Setup%2049.0.exe)
3. Insta

[2016-09-20 15:56] fabiorios commented on #375
I can replicate on W7.

I'm unable to launch the sidebar by clicking on the tropy icon. I'm not getting the notification at all.

Also, onboarding snippets are not appearing.

[2016-09-20 15:59] bniolet1 commented on #375
I can confirm both that the notifications dont' launch unless you close and re-open Firefox.

Snippets are not appearing for me, either. @schalkneethling do you want separate issues for all of this (kind of feels like the same cause for all of it, to my untrained brain).

[2016-09-20 16:03] bniolet1 commented on #375
Also I have reproduced this behavior: to get notification to appear, you must close and then re-open Firefox. Still not clickable.